/*** swis721 Thin Font ***/

@font-face {
    font-family: 'swis721';
    src: url('../fonts/Swz721t.eot');
    src: local('☺'), url('../fonts/Swz721t.woff') format('woff'), url('../fonts/Swz721t.ttf') format('truetype'), url('../fonts/Swz721t.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}


/*** swis721 Light Font ***/

@font-face {
    font-family: 'swis721';
    src: url('../fonts/Swz721Light.eot');
    src: local('☺'), url('fonts/Swz721Light.woff') format('woff'), url('../fonts/Swz721Light.ttf') format('truetype'), url('../fonts/Swz721Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}