@font-face {
  font-family: 'Phenomena-Thin';
  src: url('../fonts/fonPhenomena-Thin.eot');
  src: url('../fonts/Phenomena-Thin.woff2') format('woff2'),
       url('../fonts/Phenomena-Thin.woff') format('woff'),
       url('../fonts/Phenomena-Thin.ttf') format('truetype'),
       url('../fonts/Phenomena-Thin.svg#Phenomena-Thin') format('svg'),
       url('../fonts/Phenomena-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;	
}

@font-face {
  font-family: 'Phenomena-Black';
  src: url('../fonts/Phenomena-Black.eot');
  src: url('../fonts/Phenomena-Black.woff2') format('woff2'),
       url('../fonts/Phenomena-Black.woff') format('woff'),
       url('../fonts/Phenomena-Black.ttf') format('truetype'),
       url('../fonts/Phenomena-Black.svg#Phenomena-Black') format('svg'),
       url('../fonts/Phenomena-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena-Light';
  src: url('../fonts/Phenomena-Light.eot');
  src: url('../fonts/Phenomena-Light.woff2') format('woff2'),
       url('../fonts/Phenomena-Light.woff') format('woff'),
       url('../fonts/Phenomena-Light.ttf') format('truetype'),
       url('../fonts/Phenomena-Light.svg#Phenomena-Light') format('svg'),
       url('../fonts/Phenomena-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena-ExtraLight';
  src: url('../fonts/Phenomena-ExtraLight.eot');
  src: url('../fonts/Phenomena-ExtraLight.woff2') format('woff2'),
       url('../fonts/Phenomena-ExtraLight.woff') format('woff'),
       url('../fonts/Phenomena-ExtraLight.ttf') format('truetype'),
       url('../fonts/Phenomena-ExtraLight.svg#Phenomena-ExtraLight') format('svg'),
       url('../fonts/Phenomena-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena-ExtraBold';
  src: url('../fonts/Phenomena-ExtraBold.eot');
  src: url('../fonts/Phenomena-ExtraBold.woff2') format('woff2'),
       url('../fonts/Phenomena-ExtraBold.woff') format('woff'),
       url('../fonts/Phenomena-ExtraBold.ttf') format('truetype'),
       url('../fonts/Phenomena-ExtraBold.svg#Phenomena-ExtraBold') format('svg'),
       url('../fonts/Phenomena-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Phenomena-Bold';
  src: url('../fonts/Phenomena-Bold.eot');
  src: url('../fonts/Phenomena-Bold.woff2') format('woff2'),
       url('../fonts/Phenomena-Bold.woff') format('woff'),
       url('../fonts/Phenomena-Bold.ttf') format('truetype'),
       url('../fonts/Phenomena-Bold.svg#Phenomena-Bold') format('svg'),
       url('../fonts/Phenomena-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena-Bold';
  src: url('../fonts/Phenomena-Bold.eot');
  src: url('../fonts/Phenomena-Bold.woff2') format('woff2'),
       url('../fonts/Phenomena-Bold.woff') format('woff'),
       url('../fonts/Phenomena-Bold.ttf') format('truetype'),
       url('../fonts/Phenomena-Bold.svg#Phenomena-Bold') format('svg'),
       url('../fonts/Phenomena-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
	
	@font-face {
  font-family: 'Phenomena-Regular';
  src: url('../fonts/Phenomena-Regular.eot');
  src: url('../fonts/Phenomena-Regular.woff2') format('woff2'),
       url('../fonts/Phenomena-Regular.woff') format('woff'),
       url('../fonts/Phenomena-Regular.ttf') format('truetype'),
       url('../fonts/Phenomena-Regular.svg#Phenomena-Regular') format('svg'),
       url('../fonts/Phenomena-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}