@media (min-width: 1367px){
.container
{
width: 1250px;
}
}
@media (min-width: 1200px) and (max-width: 1366px)
{
.container
{
width: 1250px;
}

}/*End of*/}
/*1366px*/
@media (min-width: 1025px) and (max-width: 1199px)
{
.container
{
width: 970px;
}


}/*End of**1025px*/
@media (min-width: 992px) and (max-width: 1199px)
{
.container
{
width: 970px;
}

.staractive { width:20px;}
.starinactive { width:20px;}

.tab_sec_c1 h3 {
  
    font-size: 20px;
}
.form_sec .form-control {
    width: 390px;

}
.tab_sec_c1 p {
    font-size: 16px;
}
a.tab_bg_one, a.tab_bg_two, a.tab_bg_three{ width:300px; background-size:100% !important;}
.section_four .nav-tabs>li>a {
    padding: 3px 0px;
}
.nav>li>a {
    padding: 10px 6px;
	font-size:15px
}
.section_one ul {
    margin-left: 0px;
    margin-top: -17px;
}

/* .navbar-default .navbar-collapse{float:right;} */

.section_three .nav>li>a {
    padding: 24px 9px;
}
.section_three .nav>li>a {
       padding: 38px 15px;
    font-size: 22px;
}
li.pad_v2 {
    padding-left: 0px !Important;
}
img {
    max-width: 100%;
}
.circle_sec_C1 {
    position: relative;
    right: 0px;
}
.section_seven p {
    padding: 5px 10px;
    text-align: center;
}
.section_seven .col-md-2 {
    width: 16.66666667%;
    padding: 5px;
}
.award_sec {
    border: 4px solid #FE6700;
    border-radius: 100%;
    padding: 22px 4px;
    text-align: center;
    width: 157px;
    margin-top: 35px;
}
.days li.pad_txt {
    padding-top: 9px !important;}
.section_four {
    padding: 0px 0px 25px 0px;
   
}
.section_six {
    padding-left: 0px;
}
.myreportsBtn{left:56px;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
.myreportsList {
    min-height: 353px;
}
.myreports {
    min-height: 340px;
}
}/*End of**992px*/

@media(min-width:767px) {
  
}

@media (min-width: 768px) and (max-width: 991px)
{
.container
{
width: 750px;
}

.staractive { width:20px;}
.starinactive { width:20px;}
.form_sec .form-control {
    width: 290px;

}
.tab_sec_c1 h3 {
  
    font-size: 20px;
}
.tab_sec_c1 p {
    font-size: 16px;
}
a.tab_bg_one, a.tab_bg_two, a.tab_bg_three {
    width: 240px;
    background-size: 100% !important;
    font-size: 26px !important;
}
.foot_c4 h2 {
    color: #FFF;
    font-size: 17px;
}
.myreportsBtn{left:126px;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
.foot_c2 ul li {
    padding: 8px 0px;
}
.footer P {
    font-size: 11px;
}
.foot_menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 9px;
}
.foot_c4 ul li {

    font-size: 12px;
}

.section_four .nav-tabs>li>a {
    padding: 3px 0px;
}
.nav>li>a {
    padding: 10px 5px;
	font-size:9px;
	padding:2px !important;
}

.section_one ul {
    margin-left: 0px;
    margin-top: 30px;
}
.section_three .nav>li>a {
    padding: 24px 9px;
}
.section_three .nav>li>a {
    padding: 37px 10px !important;
	background-position: 10px;
}
li.pad_v2 {
    padding-left: 0px !Important;
}
img {
    max-width: 100%;
}
.circle_sec_C1 {
    position: relative;
    right: 0px;
}
.award_sec {
    border: 4px solid #FE6700;
    border-radius: 100%;
    padding: 22px 4px;
    text-align: center;
    width: 170px;
    margin-top: 35px;
    height: 143px;
}
.section_seven .col-md-2{ width:30%}
.section_four {
    padding: 0px 0px 25px 0px;
   
}
.sec_in_L {
    margin-left: 0px;
}
/* .section_three ul {
    margin-left: 0px;
} */
.section_two p {
    font-size: 21px;
}
.section_seven p {
    padding-right: 0px;
    padding-top: 10px;
}
.section_six {
    padding-left: 0px;
}
.socialmedia {margin-bottom: 20px;}

}/*End of**768px*/

@media (max-width: 767px)
{
.navbar{width: 100%;}	
.container
{
width: 100%;
}
.menuSearch {
    display: none;
}
.navbar-collapse {
    margin-top: 20px;
}
.navbar-default .navbar-toggle {
    border-color: #203766;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle {
    margin-top: 16px;
    margin-right: 15px;
    /* margin-bottom: 8px; */
    background-color: #203766;
    border: 1px solid transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #203766;
}

.section_one .nav>li:last-child>a {
    margin-top: 10px;
	width:300px;
	margin-left:10px
}
.section_four h2 {
    color: #000;
     text-align: center;
}
.tab_sec_c1 h3 {
    color: #ff6600;
    text-align: center;
}
.section_three .nav>li>a {
    position: relative;
    display: block;
    padding: 14px 10px;
}
.section_three .nav>li:last-child>a {
    margin-left: 0px;
}
.section_three ul {
    
    margin: 20px 29px !Important;
	padding-bottom:30px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #2352b3;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: inherit;
}

.section_three {
    z-index: 1;
}

.main_sec {
    width: 100%;
}
.sec_in_L {
     margin-left: 0px; 
}
.section_two {
    height: auto;
    background-image: none;
    width: 100%;
    background-color: #f0b52b;
  
}
.section_seven h2 {
    margin-bottom: 20px;
    padding-bottom: 0px;
}
img{max-width:100%}
.sec_in_sec {
    text-align: center;
    margin: 0px 0px 0px 0px;
    height: auto;
    background-image: none;
    border-bottom: 1px solid #FFF;
}
.mid_sec {
     padding-top: 10px; 
}
/* .tab_sec_c1 .col-md-3 {
    width: 100%;padding:0px 140px;
   
} */
.section_three{background-color: #77bdff;}
.section_four {
    padding: 0px 0px 25px 0px;
   
}
.box_c1 {

    margin-bottom: 30px;
}
.circle_sec_C1 {
    position: relative;
    right: 0px;
}

.footer {
    height: auto;
    background-image: none;
    background-color: #000;
    padding: 20px 0px;
    text-align: center;
}
.foot_sec {
    margin-left: 0px;
}
.in_foot {
    width: 100%;
}
.form_sec .form-control {
    width: 100%;
}
.my_profile {
    background: #EDF1F4;
     padding: 0px 0px 25px 0px; 
}
.foot_c1 {
    background-image: none;
    padding: 20px 0px;
    height: auto;
	border-bottom:1px solid #FFF;
}
.foot_menu ul {
    margin-top: 0px;
}
.foot_c4 ul li {
    float: none;
}
.section_three .navbar-default {
    background-color: transparent;
    border-color: transparent !important;
}
.section_one .navbar-brand {
    float: left;
    height: auto;
    padding: 10px 15px;
}
.myreportsBtn{left:260px;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
}/*End of**767px*/
@media (min-width: 320px) and (max-width: 480px)
{
	
.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 48%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
    margin: 0 16px 10px 0;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding: 17px 0 17px 17px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding: 4px 0 0 9px;
    width: 41%;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	

.award_sec {
    border: 4px solid #FE6700;
margin: 0px auto;
    width:36%;
	    border-radius: 100%;
    height: 148px;
}



.section_six {
    padding-left: 0;
}


}/*End of**480px*/
@media (max-width: 480px)
{
	.myreportsBtn{left:173px;}

a.tab_bg_three{
	width:330px;
	background-size: 100% !important;
}
a.tab_bg_two{
	width:330px;
	background-size: 100% !important;
}
a.tab_bg_one
{
	width:330px;
	background-size: 100% !important;
}
.section_one .nav>li:last-child>a {
    margin-top: 10px;
    width: 150px;
    margin-left: 10px;
}
}/*End of**320px*/
@media (max-width: 320px)
{
.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 48%;
    margin-right: 0;margin-bottom: 13px;
}
.month {
    float: left;
	}

.bspicalender ul li {
      margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 36px;
    height: 103px;
    text-align: center;     padding: 2px;
}
.bspicalender ul li span.dMiddle img{
    width: 85%;
}

.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 100%;
    height: 100%;
    padding: 11px;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:5px 0 5px 5px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText {  padding: 10px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	
.section_six {
    padding-left: 0;
}
.award_sec {
    border: 4px solid #FE6700;
	margin: 0px auto;
   width: 58%;
    border-radius: 100%;
    height: 151px;
}



	
		.myreportsBtn{left:87px;}
a.tab_bg_three{
	width:300px;
	background-size: 100% !important;
}
a.tab_bg_two{
	width:300px;
	background-size: 100% !important;
}
a.tab_bg_one
{
	width:300px;
	background-size: 100% !important;
}

footer{padding:0px !important;}

}/*End of**320px*/



 @media only screen and (min-width: 600px) and (max-width: 767px) {

.board {width:100%}
.nav-tabs>li{    width: 25%;padding: 0px;}
.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 33%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
   margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 82px;
    height: 129px;
    text-align: center;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:4px;}
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding: 4px 0 0 9px;
    width: 41%;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	


.award_sec {
    border: 4px solid #FE6700;
    width:100%;
	    border-radius: 100%;
    height: 148px;
}
.section_seven div.col-xs-12 {
    width:29.7%;

}

.section_six {
    padding-left: 10px;
}
footer{/* padding:0px !important; */background-size: 100% !important; }

/* Report start*/
.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
/* Report End*/


}/*End of**640px*/



 @media only screen and (min-width:768px) and (max-width:999px) {

.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 33%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
    margin: 0 5px 10px 0;
    width: 93px;
    background: none;
    height: 73px;
    border: 2px solid #fff;}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 98%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding: 17px 0 17px 17px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding-left:9px;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	

.award_sec {
    border: 4px solid #FE6700;
    width:100%;
	    border-radius: 100%;
    height: 148px;
	padding: 28px 4px;
}
.section_seven div.col-xs-12 {
    width:25%;

}

.section_six {
    padding-left: 0;
}
/* footer{padding:0px !important;} */
}/*End of**768px*/

@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){
.reportdiv #MonthID1 span{font-size:20px !important;}	
.downloadlink {padding: 35px 0px !important;}
.days li.pad_txt {
    padding-top: 9px !important;
}
	 .award_sec {
    width:45%;
}
.section_seven p {
    padding-right: 0;
}
.bspicalender ul li {
    margin: 0px 2px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 45px;
    height: 115px;
    text-align: center;
}
.bspicalender ul li {
   margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 42px;
    height: 129px;
    text-align: center;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:4px;}
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
/* footer{padding:0px !important;} */

/* Report start*/
.nav-tabs>li {width: 50% !important;}
.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
/* Report End*/
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape){

	 .award_sec {
    width:84%;
}
.section_seven p {
    padding-right: 0;
}
.days li.pad_txt {
    padding-top: 20px !important;
}
.section_seven div.col-xs-12 {
    width: 32.7%;
    min-height: 226px;
}



}
 
 
 @media screen and (device-width: 568px) and (orientation : landscape){

.award_sec {
    width: 96%;
}

footer{padding:0px !important;}
 }

 
 
 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
.days li.pad_txt {
    padding-top: 20px !important;
}
	 .award_sec {
       width: 81%;
    margin: 15px auto;
}
.section_seven div.col-xs-12 {
    width: 31%;
}
/* footer{padding:0px !important;} */
/* Report start*/
.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
/* Report End*/
}
@media screen and (max-device-width: 1024px){
	/* Report start*/
.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
/* Report End*/
#sc,#mybspi,#sp,#cp{margin-bottom: 37px !important;}
}
 
@media screen and (device-width: 568px) and (orientation : landscape){

.award_sec {
    width: 96%;
}

.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
 background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;

 }
.bspicalender ul li {
    margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 68px;
    height: 119px;
    text-align: center;
    padding: 6px 2px 2px 2px;
}
.skills {
    width: 100%;}
 .skillsRight ul li {
    list-style: none;
    float: left;
    margin-right: 35px;
    padding: 0 0 13px 11px;
}

.skillsLeft {

    margin: 0 60px 0 13px;}

.bspiCalender h2{    margin-left: 10px;}	
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
.leftText {
    float: left;
    font-size: 18px;
    padding: 15px 0 0 17px;
    letter-spacing: 1px;
    width: 45%;
    text-align: left;
	
}
.month{    margin-right: 8px;}
	
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:7px 0 7px 7px;}
	
	.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
footer{padding:0px !important;}
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
	.tab_sec_c1 .col-md-3{width: 100%;padding: 0px 40px;}
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
	.tab_sec_c1 .col-md-3{width: 100%;padding: 0px 40px;}
}
@media screen and (min-device-width: 400px) and (max-device-width: 767px) and (orientation : landscape){
	.tab_sec_c1 .col-md-3{width: 100%;padding: 0px 150px;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.section_three ul {margin-left: 77px;}#mybspi{margin-bottom: 64px !important; }
}
@media (min-width: 1024px) and (max-width: 768px) and (orientation: landscape) {
	footer {background-size: 100% !important;background-position: center bottom !important;}
	.headingofstars {width: 62% !important;}
}
@media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
	#cp{margin-bottom: 35px !important;}
}
@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
	#cp,#sp{margin-bottom: 10px !important;}#usercmnt{width: 74%;}
}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	#sc, #mybspi, #sp,#cp {margin-bottom: 37px !important;}.headingofstars {width: 62% !important;}
	
}