/*** swis721 Thin Font ***/

@font-face {
    font-family: 'Phenomena-Regular';
    src: url('../fonts/Phenomena-Regular.eot');
    src: local('☺'), url('../fonts/Phenomena-Regular.woff') format('woff'), url('../fonts/Phenomena-Regular.ttf') format('truetype'), url('../fonts/Phenomena-Regular.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Phenomena-ExtraBold';
    src: url('../fonts/Phenomena-ExtraBold.eot');
    src: local('☺'), url('../fonts/Phenomena-ExtraBold.woff') format('woff'), url('../fonts/Phenomena-ExtraBold.ttf') format('truetype'), url('../fonts/Phenomena-ExtraBold.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

*{
	margin:0;
	padding:0
}
body {
    font-family: 'Phenomena-Regular';
    font-size: 17px;
    line-height: 1.42857143;
    color: #000;
	letter-spacing:0.5px;
}
/****************
  Basic Elements
*****************/
p{ font-weight:normal; margin-bottom:24px; font-size:16px; line-height:22px; color:#fff;}
h1,h2,h3,h4,h5,h6{}
h1{ font-family: 'Phenomena-Regular'; color:#ff6600; font-size:48px; font-weight:300;}
a{ color: #fff; text-decoration: none;}
a:focus, a:hover{ color: #e77817; text-decoration: none;}
h2{font-size:36px; }
h4{}
li{list-style:none;}

 
/****************
  Primary Menu
*****************/
.navbar{     margin: 0;float: left;position: relative;	}
.navbar-nav>li>a{  font-weight: normal;  color:#000; font-size:18px; padding:9px 13px;}
.nav>li.active>a{background:none; border-bottom:2px solid #d91708;}

.nav>li>a:focus, .nav>li>a:hover { background:none; color:#0049d3; border-bottom:2px solid #0049d3; text-decoration:none !important;}
.nav>li>a.loginLink{border:1px solid #fff;padding:7px 13px;color:#fff;border-radius: 5px;background: #ff5c5d;font-family: 'Roboto';	}
.tagline {  height: 44px; font-size:30px; line-height:0.75px; text-shadow: 2px 2px 35px rgba(0, 0, 0, 1);  width: 100%;  position: absolute; color:#fff;text-align:center; background-repeat: no-repeat; bottom:140px; margin: 0 auto; z-index: 99;}
/* HEADER FIRST SUBMENU */
.nav ul {display:none; position:absolute; top:100%; margin: 0;  padding: 0; border-radius:0; transition: all 0.5s ease;}
.nav ul ul {display:none; position:absolute; top:30%; left:100%;}
.nav ul a {width:auto; padding:5px 10px; background:#f2f1f1; font-size:18px; transition: all 0.5s ease; }
.nav li:hover > ul {display:block;}
.nav li ul li {margin:0;}
.nav li:hover > a{text-decoration:none;   color:#fff;  }
.nav li:hover li>a:focus, .nav li:hover li>a:hover { background:none; color:#0049d3; border-bottom:none; text-decoration:none !important;}




.skillPuzzle{background:#f4f4f4; padding:9px 0 35px 0; display:block; overflow:hidden; }
.skillPuzzle h1{text-align:center;}
.skillPuzzle h2{display:block; font-size:18px;text-align:center; padding:0 0 10px; margin:0;}

.businessCount span{background:rgba(0,0,0,0.9); color:#fff; font-family: 'Phenomena-ExtraBold';font-size: 60px !important; margin:0 3px 0 0; padding:0 12px; }

.businessCount { font-family: 'Phenomena-ExtraBold';  text-align:center; margin:0 auto; }
.businessCount strong.nocount { color: #001b71; margin-left: 0; font-weight: 900; font-size: 60px; padding: 45px 0 0 0; display: inline-block; line-height: 34px; }
.businessCount b { display: block; font-size: 29px; color: #001b71; }
.nocount strong.count { line-height: 35px; color: #fff; }
.nocount { padding: 38px 0 0; }
.businessCount1 { font-family: 'Phenomena-ExtraBold'; clear:both; width:335px; height: 57px; background: url(../images/bg2.png) no-repeat top center; margin:0 auto; }
strong.count { line-height:50px; color: #fff !important;  font-weight: 900 !important; font-size: 60px !important;     letter-spacing: 27.5px;    padding: 0 0 0 5px; }
.businessCount1 strong.count{ letter-spacing: 28.3px; padding: 0 0 0 7px;}

.businessCount1 strong.count::first-letter {
    background:#000;
}
.indexContentMiddle{background:#fff; padding:50px 0 60px; display:block; overflow:hidden; font-size:17px; font-weight:300;}

.taglines{padding:0px 0 25px 0;text-align:center; }
.indexMiddle{}
.indexMiddle img{float:left; margin:0 0 0 40px;}
.indexMiddle h2{line-height:45px; margin: 31px 0 0;float: left;}

.awardsrecognition{padding:25px 0; width:100%; /* background:#fff9f6; */}
.awardsrecognition h2{color:#eeff20; text-align:center; margin: 0 0 25px;}
.awardsrecognition ul{padding:0 0 0 10px;}
.awardsrecognition ul li{font-size:20px; font-weight:300; padding: 0 0 27px; line-height: 23px; list-style:inherit;color:#fff;}

.mediaList{text-align:center; padding:25px 0 40px;}
.mediaList span{color:#000;}
.mediaList h2, .latestNews h2{font-size:36px; color:#ff6600;  line-height:45px; margin: 31px 0 0;}
.mediaList div.medialogo{padding:30px 25px; border-right:1px solid #ff7124;    display: block;   overflow: hidden;}
.mediaList ul li{ list-style:none; /* padding:0 15px; */ }

.latestNews{text-align:center; padding:35px 0;}

.slider{/* margin:30px 55px; */ font-size:16px; font-weight:300;}

footer {
    background-image: url(../images/home/footer2.png);
    background-color: #77bdff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding:40px 0 160px;
	 color:#fff;
	 font-size:16px;
}
footer span{display:block; padding:0 0 5px;}
footer div.row > div + div{/*background:url(../images/line.png) no-repeat left; padding:10px 20px 19px 50px;*/}
footer div.row div:last-child{/*background:url(../images/line.png) no-repeat left; padding:15px 0 18px 30px;*/}

footer ul li{line-height:40px;}
footer ul li.callicon{background:url(../images/call-icon.png) no-repeat left; padding:0 0 0 35px;}
footer ul li.msgicon{background:url(../images/msg-icon.png) no-repeat left;  padding:0 0 0 35px;}

.socialmedia{background:none !important; padding:0 !important;}
.footerBottom{  width:100%; background: #1e242d;}
.footerBottom p{text-align:center; margin:0; padding:15px 0;}
.medialogo{text-align:center;}
.medialogo .slick-slide img {
    display: block;
    margin: 0 auto;
}
.iconbar{padding:5px 0 !important;}
.navbar-collapse { float:right;
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav {
    margin: 0;
}
.section_three{	
min-height: 80px;
/* background: url(../images/blueBG.png) repeat; */
width: 100%;
/*background-position: top center;
background-repeat: no-repeat;*/
position: relative;
    min-height: 75px;
background-color: #77bdff;
}
@media screen and (max-width:767px){
	.nav{float:none; width:auto;}
	.navbar-toggle{ background:#f05636; border-radius:0; width:100%; margin:0; color:#fff;}
	.navbar-toggle strong{float:left;}
	.navbar-toggle .icon-bar{ background:#fff; float:right;     width: 100%;}
	.navbar-collapse { float:none;}

	.businessCount span {font-size: 34px !important; float:}
	.taglines {/*padding: 13px 0 20px 0;*/}
	.indexMiddle div{ width: 100%; float: none; clear: both;}
	.indexMiddle img { margin: 0 0 0 9px;}
	
	.slider {/* margin: 30px 25px; */}
	.mediaList div.medialogo { padding: 30px 25px 0; border:none; }
	.latestNews { padding: 0 0 25px;}
	.mediaList h2, .latestNews h2 { margin:0;}
	footer div.row > div + div { /*padding: 10px 20px 0 20px;*/}
	
	.nav-tabs > li:nth-child(4n+1):hover {
	  border-color: #80c3d2;background-color: none;
	}
	.nav-tabs > li:nth-child(4n+2):hover {
	  border-color: #ff8454;background-color: none; 
	}
	.nav-tabs > li:nth-child(4n+3):hover {
	  border-color: #f0cd3a;background-color: #none; 
	}
	.nav-tabs > li:nth-child(4n+4):hover {
	  border-color: #88c87b;background-color: none; 
	}
}

@media screen and (max-width: 319px) {
}
 @media (min-width: 320px) and (max-width: 479px) {
	 	.slick-prev, .slick-next{top:55%;}
		.slick-next { right: 1%;}
		.slick-prev { left: 1%;}
	 .taglines div{padding:0 0 25px;}
	.alignleft{width:100% !important;}
	/* .mediaList ul li{margin: 15px !important;} */
	 footer{/* padding:0px !important; */    background-position: bottom center;background-size: 100% !important;}
	 .pull-right{padding-top: 10px !important;}
}
 @media (min-width: 480px) and (max-width: 599px) {
	 .taglines div{padding:0 0 25px; width: 33%; float: left;}
	 	.slick-prev, .slick-next{top:55%;}
		.slick-next { right: 1%;}
		.slick-prev { left: 1%;}
		
		.alignleft{width:32.333333% !important;padding:20px !important;}
		.tagline3{padding: 32px !important;}
		/* //.welcome-content{width:100% !important;}
		//.vc_column_container{width:100% !important;;margin:0 !important;padding:0;} */
		.mediaList ul li{margin: 15px !important;}
}
 @media only screen and (min-width: 600px) and (max-width: 767px) {
	  .taglines div{padding:0 0 25px; /* width: 33%;  */float: left;}
	  .latestNews { padding: 0 0 45px;}
	  .alignleft{padding: 20px !important;}
	  .col-sm-6 {width: 50%;float:left;padding:10px 20px 19px 50px !important;}
	  #services .col-sm-6{min-height: 225px;}
	  #footerpart .col-sm-6 {padding:0px 15px !important;}
	  footer{background-size: 100%;}
	  .col-sm-6 li{line-height: 30px;}
	  /*  footer{padding:0px !important;} */
	  .tagline3 h3{padding: 12px !important;}	
}
 @media only screen and (min-width:768px) and (max-width:999px) {
	 	.slick-prev, .slick-next{top:55%;}
		.slick-next { right: 1%;}
		.slick-prev { left: 1%;}
		.indexMiddle{text-align:center;}
		.indexMiddle h2{float:none; text-align:center; margin:0;} 
		.indexMiddle img{float:none; margin:0 auto;}
		.navbar-nav>li>a {  font-size: 17px; padding: 9px 5px;}
		.col-sm-6 {width: 50%;float:left;padding:10px 20px 19px 50px !important;}
		#footerpart .col-sm-6 {padding:0px 15px !important;}
		footer{background-size: 100%;}
	   .col-sm-6 li{line-height: 30px;}
	   /* footer{padding:0px !important;} */
		/* .vc_column_container{width: 33% !important;padding: 0 !important;margin: 0 !important;} */
	  .login-help{padding: 0 20px;}
	  .nbs-flexisel-item img {/* width:200px !important; margin:25px 0 !important; */}
}
 @media (min-width: 1000px) and (max-width: 1199px) {
	 .tagline3{padding: 16px !important;}.tagline1{padding: 5px !important;}
	 .col-sm-6 {width: 50%;float:left;padding:10px 20px 19px 50px !important;}
	 .col-sm-6 li{line-height: 30px;}
	 .login-help{padding: 0 20px;}
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
	
#header{
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
	    z-index: 999999 !important;
}
/*-- Index Content Middle Part --*/

.userpart{text-align:center;    border: 1px solid}
.userpart img{margin-left:auto;margin-right:auto;}
.vc_column_container{width: 25%; padding-left: 0;padding-right: 0;margin: 0 45px;}
.vc_column-inner {
    box-sizing: border-box;
    padding:13%;
    width: 100%;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}
.welcome-img {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.welcome-img img {
    border-radius: 4px;
    box-shadow: 0 5px #7aad37;
    margin-bottom: 5px;
}
.welcome-content {
    bottom: 0;
    left: 0;
    padding: 67px 32px 39px;
    position: absolute;
    right: 0;
    top: auto;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.svg-overlay {
    display: block;
    position: absolute;
    top: -81px;
    left: 0;
    width: 100%;
    height: 81px;
    z-index: 2;
    pointer-events: none;
    color: rgba(141, 198, 63, 0.9);
}
.svg-overlay svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
svg:not(:root) {
    overflow: hidden;
}

.welcome-content i {
    color: #fff;
    display: inline-block;
    font-size: 62px;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
}
.icon-class:before {
    content: "\e902";
}
.welcome-content h4 {
    color: #fff;
    font-size: 20px;
    margin: 12px 0 3px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    position: relative;
    z-index: 2;
    text-align: center;
}
.welcome-content p {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    opacity: 0;
    -webkit-transition: max-height 600ms ease, opacity 600ms ease;
    -moz-transition: max-height 600ms ease, opacity 600ms ease;
    -ms-transition: max-height 600ms ease, opacity 600ms ease;
    -o-transition: max-height 600ms ease, opacity 600ms ease;
    transition: max-height 600ms ease, opacity 600ms ease;
    max-height: 0;
    position: relative;
    z-index: 2;
    text-align: center;
}
.welcome-img:hover .welcome-content h4{
    margin-bottom: 18px;
}
.welcome-img:hover  .welcome-content p{
    opacity: 1;
    max-height: 300px;
}

.slider {
    padding: 0px 55px !important;
    font-size: 16px;
    font-weight: 300;
  /*  background: #fafafa; */
}

.slick-list{padding:30px;}
.indexContentMiddle h3{font-size:23px;}

.tagline1 {
    background-color: rgba(141,198,63, .9);
    color: #fff;
}
.tagline2 {
    background-color: rgba(146,39,143, .9);
    color: #fff;
}
.tagline3 {
    background-color: rgba(241,109,124, .9);
    color: #fff;
}
.alignleft {
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 2px;
    width: 32.333333%;
}
/*-- End --*/

/* Footer Page Common Page Style */
#primary-menu{font-family:'Roboto';}
 
.container .form-group label.error{color:red;font-size:15px;float: inherit;}
#pwdmsg {float: inherit;}

.terms .alterLi {
    background: #f3f3f3;
}

.terms ul li {
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    line-height: 18px;
}

.terms ul li span {
    border: 1px solid #dcdcdc;
    background: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    display: block;
    line-height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.terms ul li p {
    color: black;
    float: left;
    width: 95%;
}

.innerContainer {
    padding: 3% 0 8% 0;
    overflow: hidden;
}

.innerContainer p {
	color: black;
}

.privacy ul li {
    border-bottom: 2px solid #e4e5e5;
    padding: 15px 0 10px 0;
}

.tabs1 {
    width: 100%;
    display: inline-block;
}

.tab1-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab1-links li.active {
    background: #92278f;
    padding-top: 7px;
    margin-top: -7px;
    color: #92278f;
}

.tab1-links li.active a, .tab1-links li.active a span {
    color: #fff;
}

.tab1-links a {
    padding: 9px 20px;
    display: inline-block;
    font-size: 15px;
    color: #404040;
}

.tab1-links li {
    float: left;
    list-style: none;
    border-collapse: collapse;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.tabs1 #cssmenu {
    padding: 25px;
}

#cssmenu, #cssmenu h2 {
    font-weight: 500;
}

#cssmenu ul, #cssmenu li, #cssmenu a {
    position: relative;
}

#cssmenu > ul > li {
    background: #f8f8f8;
}

#cssmenu > ul > li.has-sub > a span {
    background: url(../images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li.active > a span {
    background: url(../images/icon_minus.png) 98% center no-repeat;
}
#cssmenu > ul > li > a > span {
    display: block;
    padding: 12px 10px;
}

.tabs1 #cssmenu ul ul {
    padding: 2% 2% 1% 2%;
}

#cssmenu ul ul {
    display: none;
    background: #fff;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    padding: 3% 0 1%;
    overflow: hidden;
}

.has-sub span h3 { color:#92278f; }

.tab1-content {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #fff;
    border-top: 4px solid #92278f;
	margin-top: -10px;
}

#Children_policy { color:#92278f; }
.privacy h3 { color:#92278f; }

.logSubmit { /* margin-top: 5px;	 */}

.termslink {     color: #92278f;
    text-decoration: underline;
    font-weight: bold;}
 
.pull-right{padding-left: 0;padding-right: 0;padding-top: 15px;}
#header .pull-right{padding-left: 0;padding-right: 0;padding-top: 35px;}

/*-------- Testimonial Start ------------- */
#testimonial{
	    background-image: url(../images/home/Testimonial2.jpg) !important;
}
.testimonial{
    text-align: center;
    padding: 60px 40px 5px;
    margin-top: 100px;
    /* border-top: 5px solid #4b489b; */
	/* border-top: 3px solid #fff; */
    position: relative;
}
/* .testimonial:before{
    content: "\f10d";
    font-family: 'fontawesome';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    color: #4b489b;
    opacity: 0.5;
} */
.testimonial .pic img{
    width: 120px;
    height: 120px;
   /*  border: 5px solid #4b489b; */
   /*  border:6px solid #ffffff; */
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
	border-radius: 50%;
}
.testimonial .pic:after {
    /* background: rgba(0, 0, 0, 0) url(../images/home/testi-img-bg.png) no-repeat scroll center center / cover; */
    content: "";
    height: 170px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0;
    top: -114px;
    width: 180px;
    z-index: -1;
}
.testimonial .pic img{
 /*    width: 100%;
    height: auto; */
}
.testimonial .description{
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    margin-bottom: 30px;
	font-style: italic;
}
.testimonial .testimonial-title{
    display: block;
    text-align: right;
    font-size: 22px;
    color: #fff;
    margin: 0;
}
.testimonial .post{
    display: block;
    font-size: 12px;
    color: #000;
    margin-top: 7px;
}
.owl-theme .owl-controls .owl-page span{
    width: 20px;
    height: 3px;
    /* background: #4b489b; */
	background: #fff;
}
@media only screen and (max-width: 479px){
    .testimonial{ padding: 10px 10px 5px; }
    .testimonial::before{ top: 10px; }
    .testimonial .pic{
        width: 120px;
        height: 120px;
        top: -60px;
    }
}

/*-------- Testimonial End ------------*/
/*-------- quotes Slider Start ------------*/

#quoteslider{background: #f9f9f9;}
.tcb-quote-carousel{
    background: #f9f9f9;
    padding-top:1px;
    /* margin-top: 40px; */
	}
    .quote{
        color: rgba(0,0,0,.1);
        text-align: center;
        margin-bottom: 30px;
    }    
     #quoteslider .carousel {
      padding-bottom: 0px;
    }
	.carousel-indicators > li {
          background-color: #e84a64;
          border: none;
        }
/*    blockquote {
        margin-top: 15px;
        text-align: center;
        border: none;
    } */
	
	 blockquote p { color:#34495e;}
    .profile-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 100px;
    }
.item {transition-property: opacity;}

    .carousel-inner {
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

#quoteslider p{color:#000;}
#quoteslider .img-responsive {margin:0 auto;}
/*-------- quotes Slider Start ------------*/

.navbar-default {
    background-color: transparent;
    border-color: #fff !important;
    border: none !important;
	position: relative;
	/* padding: 22px;
    margin: 0 70px; */
}
.navbar {
    margin-bottom: 0px;
}

/* ---- Bottom to Top ------ */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
 /*  background-color: red; */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background: url(../images/scroll_top_btn.png) center center / cover;
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	.hdndiv{width:0% !important;    float: right !important;}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.hdndiv{width:0% !important;    float: right !important;}
}

#termschkbox{padding: 0px 5px 0px 0px;}
#termschkbox input{width:20px;height:20px;}
.odometer-formatting-mark{display:none !important;}



#loginloadimage {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #151928 url(../images/ajax-page-loader.gif) no-repeat;
    opacity: 0.8;
    background-size: 60px;
    background-position: center center;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: #5a5757 50% 100% no-repeat;
    opacity: 0.6;
}