

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
 }

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
 }

.loginmodal-container input[type=submit],.loginmodal-container input[type=button] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], select  {
  height: 44px;
  font-size: 16px;
 /* width: 100%; */
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
   font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
   font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


.wow{ text-align:center; }
.spanRememberme{position:absolute;}
div#errormsg{font-size: 12px;color: red;}
#terrormsg{font-size: 12px;color: red;}
.secondActive
	{
		text-decoration: none;
    background-color: #FFF;
    color: #000;
    -moz-box-shadow: inset 0px 0px 8px 0px #888;
    -webkit-box-shadow: inset 0px 0px 8px 0px #888;
    box-shadow: inset 0px 0px 8px 0px #888;
	}
.secondActive a{ color: #777 !important;}
.gameBtnInactive{    color: #333 !important;
    background-color: #e6e6e6 !important;
    /*border-color: #8c8c8c !important;*/
	cursor:default
}
.gold-inactive
{
	height: 47px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: -11px;
    left: 3px;
    background-repeat: no-repeat;
}
.platinum-inactive
{
	    height: 47px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: 30px;
    left: 12px;
    background-repeat: no-repeat;
}
.silver-inactive
{
	height: 47px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: 30px;
    left: -6px;
    background-repeat: no-repeat;
}
.section_two { height: inherit !important;}
.sec_in_sec{ margin:0px !important;}
footer div.row > div + div {
        /*background-image: url(../images/divider_Footer.png) !important;*/
    /*padding: 10px 20px 19px 50px;*/
}

 @media only screen and (min-width:768px) and (max-width:1026px) {
	.bspicalender{width:96% !important}
	.bspiCalenderTop{width:96% !important}
	
 } @media only screen and (min-width:768px) and (max-width:1026px) {
	.bspicalender{width:96% !important}
	.bspiCalenderTop{width:96% !important}
	
 }
 @media (max-width: 1026px) and (min-width: 768px)
 {
.tab_sec_c1 h3 {
    font-size: 18px !important;
}
 }
/*@media (max-width: 480px) and (min-width: 320px)
 {
.award_sec {width: 46%;
}
} 
@media (max-width: 560px) and (min-width: 320px)
 {
.award_sec {width: 54%;
}
}
@media (max-width: 670px) and (min-width: 375px)
 {
.award_sec {width: 46%;
}
} 
*/
.trophy-SilverBig span{
    top: -50px;
    position: relative;
}
	
.trophy-SilverBig {
    background: url(../images/trophy-SilverBig.png) no-repeat center;
    background-size: 50%;
    float: left;
}
.trophy-GoldBig span{
    top: -50px;
    position: relative;
}
	
.trophy-GoldBig {
    background: url(../images/trophy-GoldBig.png) no-repeat center;
    background-size: 50%;
    float: left;
}
.trophy-DiamondBig span{
    top: -50px;
    position: relative;
}
	
.trophy-DiamondBig {
    background: url(../images/trophy-DiamondBig.png) no-repeat center;
    background-size: 50%;
    float: left;
}


.trophieslist {
	width: 33%;
    height: 133px;
    font-size: 30px;
    color: #ff6600;
    text-align: center;
	font-weight:bold
    margin: 0 auto;
}


.mytrophies {
    background: #fbfbfd;
    box-shadow: 1px 1px 9px 0px #dcdde2;
    padding: 15px 15px 58px;
    margin: 0 0 25px;
    
}

@media (max-width: 991px) and (min-width: 768px)
{
.tab_sec_c1 p {
    font-size: 12px !important;
}
}


.mB50{
  margin-bottom:50px !important;
}

.multiselect{min-width: 160px;background-color: #223a68;
    color: #fff;
    font-size: 20px;
    padding: 0;font-weight: 400;    text-transform: uppercase;
    letter-spacing: 3px;}
.open>.dropdown-menu {
   background-color: #223a68;
}
.open>.dropdown-menu  a{
   color: #fff;
}.open>.dropdown-menu  li:hover{
      color: #223a68 !important;
    
}.open>.dropdown-menu  li{
        /*  margin-left: 10px;*/
    
}.open>.dropdown-menu  a:hover{
      color: #223a68 !important;
    
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #223a68 !important;
    text-decoration: none;
    background-color: #fff !important;
    outline: 0;
}

  button.btn.btn-default.Search {
	      padding: 2px 12px;
		  font-size: 20px;
    background: #FF6600;
    color: #FFF;
    border-radius: 0px;
}



.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
table thead th {
    background-color: rgb(208,234,232);
    text-align: center;
}
table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table-bordered {
    border: 1px solid #ddd;
}
table {
    background-color: transparent;
}
.table-striped>tbody>tr:nth-child(odd) {
    background-color: #f9f9f9;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table tbody td {
    text-align: center !important;
} table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
.noPadL{padding: 0px;}
 .btn-4:hover {
  -webkit-transform: scale(1.1);
    background: #fff;
}