  @font-face {
      font-family: "Veggieburger-Bold";
        src: url(../fonts/Veggieburger-Bold.otf) format("opentype"),
          url(../fonts/Veggieburger-Bold.woff) format("opentype"),
        url(../fonts/Veggieburger-Bold.ttf) format("truetype")
      }

  @font-face {
      font-family: "Lato-Bold";
        src: url(../fonts/lato-bold.otf) format("opentype"),
          url(../fonts/lato-bold.woff) format("opentype"),
        url(../fonts/lato-bold.ttf) format("truetype")
      }
	 @font-face {
      font-family: "Questrial-Regular";
        src: url(../fonts/Questrial-Regular.otf) format("opentype"),
          url(../fonts/Questrial-Regular.woff) format("opentype"),
        url(../fonts/Questrial-Regular.ttf) format("truetype")
      }  
	  
      
  #gameCanvas {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      
 
  body{ margin:0; min-width:100%; max-width:100%; background:url("bgtile.jpg") repeat;}

  :full-screen{background:url("bgtile.jpg") repeat;}
  :-webkit-full-screen{background:url("bgtile.jpg") repeat;}
  :-moz-full-screen{background:url("bgtile.jpg") repeat;}
  
  div.centerMsg{
    width:100%; height:100%; position:fixed; top:0; left:0;
    background:rgba(0,0,0,0.8); /* rgba and alpha */
    display:none;
  }
div.centerMsg p{
    
    color:#FFFFFF;
    font-size:1.32em;
    text-align:center;
    position:absolute; margin:auto; left:0; right:0; top:0; bottom:0;
        height: 100px;
      background:brown;
      border-radius:8px;
      -webkit-border-radius:8px;
      border:1px dashed #000;
      padding-left:10px; padding-right:10px;
      padding-top:15px;
      width:80%;
      font-family:Veggieburger-Bold;
  }
  div.fullscreen{
	  width:40px; height:40px; bottom:0px; position:fixed;  z-index: 9999;
    right: 0px;
    background: #666 url(../assets/enableFullscreen.svg) no-repeat;
	    background-position: center;
  }
  div.fullscreen.enabled{background: #333 url(../assets/existFullscreen.svg) no-repeat;}
