/**
 * bootstrap-admin-template - Free Admin Template Based On Twitter Bootstrap 3.x
 * @version 2.4.1
 * @license MIT
 * @link https://github.com/puikinsh/Bootstrap-Admin-Template
 */
/* ==========================================================================
metisAdmin: Base
========================================================================== */
body {
  transition: all 0.3s ease-in-out;
}
/*********************************************************/
/*                 Layout Styles                         */
/*********************************************************/
/* ==========================================================================
   Sticky footer styles
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 48px;
}
.Footer,
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
}
/* END Sticky footer styles
   ========================================================================== */
/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/
#wrap:before,
#top:before,
.head:before,
.Footer:before,
#wrap:after,
#top:after,
.head:after,
.Footer:after {
  content: " ";
  display: table;
}
#wrap:after,
#top:after,
.head:after,
.Footer:after {
  clear: both;
}
.Wrap,
#wrap {
  margin: 0 auto;
  position: relative;
}
#left,
#right {
  transition: all 0.3s ease-in-out;
  width: 250px;
  z-index: 999;
}
#left {
  position: absolute;
  left: -250px;
}
#right {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  right: -250px;
}
.sidebar-left-opened #left {
  left: 0;
}
.sidebar-right-opened {
  position: relative;
  right: 250px;
}
.sidebar-right-opened #right {
  right: 0;
}
.sidebar-right-opened.fixed .navbar-fixed-top {
  right: 250px;
}
@media (min-width: 768px) {
  #left {
    position: relative;
    float: left;
    left: auto;
  }
  .sidebar-left-hidden #left {
    width: 0;
    visibility: hidden;
  }
  .sidebar-left-mini #left {
    width: 50px;
  }
  #content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  .sidebar-right-opened {
    right: 0;
    margin-right: 250px;
  }
  .sidebar-right-opened .navbar-fixed-top {
    margin-right: 250px;
  }
}
@media (min-width: 1200px) {
  body.boxed {
    margin-bottom: 0;
  }
  body.boxed .Wrap,
  body.boxed #wrap,
  body.boxed .Footer,
  body.boxed #top .navbar.navbar-fixed-top {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  body.boxed .Footer,
  body.boxed #footer {
    position: relative;
  }
}
/* ================== END Template Layout ============== */
/* BEGIN TOP bar */
#top .navbar {
  margin-bottom: 0;
  border-top: 3px solid #CD0067;
}
#top .navbar-brand {
  padding: 0;
}
#top .topnav {
  margin: 10px 0;
  text-align: right;
}
@media (min-width: 768px) {
  #top .topnav {
    float: right;
  }
}
/* END TOP bar */
/* BEGIN header.head bar */
.head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.head .search-bar {
  margin: 0 auto;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.head .search-bar .main-search {
  border-bottom: 1px solid #7c7c7c;
}
.head .search-bar .main-search input[type="text"] {
  background-color: transparent;
  border-color: transparent;
  color: #ccc;
  box-shadow: none;
}
.head .search-bar .main-search button,
.head .search-bar .main-search input[type=submit] {
  background: transparent;
  border: transparent;
}
@media (min-width: 768px) {
  .head .search-bar {
    border-bottom-width: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
  .side-right .head .search-bar {
    border-right-width: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.05) inset;
  }
}
.head .main-bar {
  padding: 10px;
}
.head .main-bar h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #bababa;
}
@media (min-width: 768px) {
  .head .main-bar h3 {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .head .search-bar .main-search {
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .search-bar {
    float: left;
    padding: 10px 4px;
  }
  .side-right .search-bar {
    float: right;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px;
  }
  .main-bar {
    display: block;
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .search-bar {
    width: 250px;
    padding: 10px 15px;
  }
  .search-bar .input-group-btn {
    display: table-cell;
  }
  .search-bar .input-small.form-control {
    border-radius: 3px 0 0 3px;
  }
  .mini-sidebar .search-bar .input-small.form-control {
    border-radius: 3px;
  }
}
/** END header.head bar */
/*********************************************************/
/*          Begin LEFT Styles                           */
/*********************************************************/
.user-media .user-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.user-media .user-link .user-img {
  margin: 10px auto;
}
.user-media .user-link .user-label {
  position: absolute;
  top: -6px;
  right: 6px;
}
.user-media .user-link {
  float: left;
}
.user-media .user-link .user-img {
  margin: 10px;
}
.user-media .user-link .user-label {
  top: 6px;
  right: 0;
}
.user-media .media-body {
  display: block;
  float: left;
  margin-left: 12px;
}
.user-media .media-body h5.media-heading {
  color: #fff;
  padding-top: 8px;
  margin-bottom: 3px;
}
.user-media .media-body ul.user-info li {
  color: #ccc;
}
.user-media:before,
.user-media:after {
  content: " ";
  display: table;
}
.user-media:after {
  clear: both;
}
.side-right .user-link .user-label {
  left: 6px;
  right: auto;
}
.sidebar-left-mini .user-wrapper {
  position: absolute;
  top: 0;
  left: -100%;
  display: none;
  min-width: 250px;
}
.user-media-toggleHover {
  display: none;
}
.sidebar-left-mini .user-media-toggleHover {
  font-size: 18px;
  color: #fff;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: inherit;
}
.sidebar-left-mini .user-media:hover .user-wrapper {
  left: 100%;
  display: inherit;
  z-index: 9999;
}
.sidebar-left-mini.side-right .user-media:hover .user-wrapper {
  left: auto;
  right: 100%;
}
/* ============== END LEFT Styles ================= */
#menu,
#menu ul,
#menu li,
#menu a {
  padding: 0;
  margin: 0;
  color: #f4f4f4;
}
#menu,
#menu ul {
  list-style: none;
}
#menu li,
#menu a {
  position: relative;
  display: block;
}
#menu a,
#menu a:hover,
#menu a:focus,
#menu a:active {
  text-decoration: none;
}
#menu ul {
  background: rgba(0, 0, 0, 0.3);
}
#menu > li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 0 10px 15px;
}
#menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
#menu > li:hover > a,
#menu > li:focus > a {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: none;
}
#menu > li ul {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  border-left-width: 0;
}
#menu > li ul a {
  padding: 11px 0 11px 30px;
  font-size: 13px;
}
#menu > li ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#menu.affix {
  position: fixed;
  width: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
#menu.affix:hover {
  overflow-y: scroll;
}
@media (min-width: 768px) {
  body:not(.sidebar-left-mini) #menu li.active > ul,
  #menu.affix li > ul {
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
  }
  body:not(.sidebar-left-mini) #menu:not(.affix) li.active > ul {
    display: inherit;
  }
  #menu li > ul,
  .sidebar-left-mini #menu li > ul {
    position: absolute;
    top: 0;
    left: 100%;
    box-shadow: none;
    min-width: 200px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #menu:not(.affix) li > ul,
  .sidebar-left-mini #menu:not(.affix) li > ul {
    display: none;
  }
  .sidebar-left-mini #menu > li > ul {
    top: 100%;
  }
  #menu li > ul > li > ul {
    top: 0;
  }
  .side-right #menu li > ul {
    left: auto;
    right: 100%;
  }
  #menu:not(.affix) li:hover > ul {
    display: inherit;
    visibility: visible;
  }
  .sidebar-left-mini #menu.affix {
    position: relative !important;
  }
}
@media (min-width: 768px) {
  .sidebar-left-mini #menu > li > a .fa {
    font-size: 18px;
  }
  .sidebar-left-mini #menu > li > a .fa.arrow {
    display: none;
  }
  .sidebar-left-mini #menu > li > a .link-title {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
    position: absolute;
    left: 100%;
    top: -1px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    padding: 10px 30px;
  }
  .sidebar-left-mini #menu > li:hover > a > .link-title {
    display: block;
    min-width: 200px;
  }
  .sidebar-left-mini.side-right #menu > li > a .link-title {
    border-right-width: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    left: auto;
    right: 100%;
  }
}
body:not(.sidebar-left-mini) #menu .nav-header {
  padding: 3px 15px !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}
#menu .nav-divider {
  height: 1rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.sidebar-left-mini #menu .nav-header {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
#menu .fa.arrow {
  float: right;
  padding-top: 3px;
  margin-right: 15px;
}
#menu .fa.arrow:before {
  content: "\f104";
}
#menu .active > a > .fa.arrow:before {
  content: "\f107";
}
/* BEGIN CONTENT STYLES */
#content {
  transition: width 0.4s;
}
.outer {
  padding: 10px;
  background-color: #6e6e6e;
}
.outer:before,
.outer:after {
  content: " ";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  background: #fff;
  border: 10px solid #e4e4e4;
}
@media (min-width: 768px) {
  .inner {
    float: left;
    width: 100%;
  }
}
/* END CONTENT STYLES */
/* ==========================================================================
   Footer
   ========================================================================== */
.Footer,
#footer {
  margin: 0 auto;
  color: #f4f4f4;
  border-top: 1px solid #222;
}
.Footer p,
#footer p {
  padding: 1.2rem 0;
  margin: 0;
  text-align: center;
}
/* END Footer
   ========================================================================== */
/*********************************************************/
/*                 Component Styles                      */
/*********************************************************/
.box {
  margin: 10px auto;
  display: block;
  position: relative;
  border: 1px solid #efefef;
}
.box header {
  background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.box header:before,
.box header:after {
  content: " ";
  display: table;
}
.box header:after {
  clear: both;
}
.box header .icons,
.box header h5,
.box header .toolbar {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 0;
  margin: 0;
  display: block;
}
.box header .icons {
  padding: 10px 15px;
  border-right: 1px solid #ddd;
  box-shadow: 1px 0px 0px #fff;
}
.box header h5 {
  padding: 12px;
  font-weight: bold;
}
.box.inverse header {
  background-image: linear-gradient(to bottom, #333 0%, #222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
  border-bottom: 1px solid #4d4d4d;
  color: #f5f5f5;
}
.box.inverse header .icons {
  border-right: 1px solid #222;
  box-shadow: 1px 0px 0px #3c3c3c;
}
.box.primary header {
  background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
  border-bottom: 1px solid #337ab7;
  color: #fff;
}
.box.primary header .icons {
  border-right: 1px solid #1d4568;
  box-shadow: 1px 0px 0px #5094ce;
}
.box.success header {
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  border-bottom: 1px solid #5cb85c;
  color: #fff;
}
.box.success header .icons {
  border-right: 1px solid #357935;
  box-shadow: 1px 0px 0px #80c780;
}
.box.warning header {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
  border-bottom: 1px solid #f0ad4e;
  color: #fff;
}
.box.warning header .icons {
  border-right: 1px solid #c77c11;
  box-shadow: 1px 0px 0px #f4c37d;
}
.box.danger header {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  border-bottom: 1px solid #d9534f;
  color: #fff;
}
.box.danger header .icons {
  border-right: 1px solid #a02622;
  box-shadow: 1px 0px 0px #e27c79;
}
.box.info header {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  border-bottom: 1px solid #5bc0de;
  color: #fff;
}
.box.info header .icons {
  border-right: 1px solid #2390b0;
  box-shadow: 1px 0px 0px #85d0e7;
}
.box header .toolbar {
  float: right;
  display: inline-table;
}
.box header .toolbar .btn-toolbar {
  margin: 6px 3px;
}
.box header .toolbar .label,
.box header .toolbar .badge {
  display: inline-block;
  margin: 10px;
}
.box header .toolbar .nav {
  margin: 1px 1px 0 0;
}
.box header .toolbar .nav > li {
  display: inline-block;
}
.box header .toolbar .nav > li > a {
  padding-top: 9px;
}
.box header .toolbar > .btn {
  margin-right: 4px;
}
.box header .toolbar > .btn-sm,
.box header .toolbar > .btn-group {
  margin: 4px;
}
.box header .toolbar > .btn-xs {
  margin: 6px;
}
.box header .toolbar .input-sm {
  margin: 4px -4px;
}
.box header .toolbar .progress {
  min-width: 120px;
  margin: 10px 4px;
}
.box header .toolbar .progress.middle {
  height: 12px;
  margin: 13px 4px;
}
.box header .toolbar .progress.mini {
  height: 6px;
  margin: 16px 4px;
}
.full-screen-box {
  height: 100% !important;
  width: 100% !important;
}
.box.danger .dropdown-menu > li > a:hover,
.box.danger .dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.box.info .dropdown-menu > li > a:hover,
.box.info .dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.box.success .dropdown-menu > li > a:hover,
.box.success .dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.box.warning .dropdown-menu > li > a:hover,
.box.warning .dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.box.inverse .dropdown-menu > li > a:hover,
.box.inverse .dropdown-menu > li > a:focus {
  background-image: linear-gradient(to bottom, #333 0%, #222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
}
.box .body {
  padding: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
  background-color: #fff;
}
.box .body hr {
  margin-left: -10px;
  margin-right: -10px;
}
.body.collapse:not(.in) {
  padding: 0;
}
.box > .block {
  padding: 0;
}
.row.ui-sortable .box header {
  cursor: move;
}
.btn-metis-1 {
  color: #fff;
  background-color: #ee465a;
  border-color: #c11a39;
}
.btn-metis-1:focus,
.btn-metis-1.focus {
  color: #fff;
  background-color: #ea1730;
  border-color: #510b18;
}
.btn-metis-1:hover {
  color: #fff;
  background-color: #ea1730;
  border-color: #8b1329;
}
.btn-metis-1:active,
.btn-metis-1.active,
.open > .dropdown-toggle.btn-metis-1 {
  color: #fff;
  background-color: #ea1730;
  border-color: #8b1329;
}
.btn-metis-1:active:hover,
.btn-metis-1.active:hover,
.open > .dropdown-toggle.btn-metis-1:hover,
.btn-metis-1:active:focus,
.btn-metis-1.active:focus,
.open > .dropdown-toggle.btn-metis-1:focus,
.btn-metis-1:active.focus,
.btn-metis-1.active.focus,
.open > .dropdown-toggle.btn-metis-1.focus {
  color: #fff;
  background-color: #cb1329;
  border-color: #510b18;
}
.btn-metis-1:active,
.btn-metis-1.active,
.open > .dropdown-toggle.btn-metis-1 {
  background-image: none;
}
.btn-metis-1.disabled:hover,
.btn-metis-1[disabled]:hover,
fieldset[disabled] .btn-metis-1:hover,
.btn-metis-1.disabled:focus,
.btn-metis-1[disabled]:focus,
fieldset[disabled] .btn-metis-1:focus,
.btn-metis-1.disabled.focus,
.btn-metis-1[disabled].focus,
fieldset[disabled] .btn-metis-1.focus {
  background-color: #ee465a;
  border-color: #c11a39;
}
.btn-metis-1 .badge {
  color: #ee465a;
  background-color: #fff;
}
.btn-metis-2 {
  color: #fff;
  background-color: #9fd256;
  border-color: #6fac34;
}
.btn-metis-2:focus,
.btn-metis-2.focus {
  color: #fff;
  background-color: #87c134;
  border-color: #304a16;
}
.btn-metis-2:hover {
  color: #fff;
  background-color: #87c134;
  border-color: #517d26;
}
.btn-metis-2:active,
.btn-metis-2.active,
.open > .dropdown-toggle.btn-metis-2 {
  color: #fff;
  background-color: #87c134;
  border-color: #517d26;
}
.btn-metis-2:active:hover,
.btn-metis-2.active:hover,
.open > .dropdown-toggle.btn-metis-2:hover,
.btn-metis-2:active:focus,
.btn-metis-2.active:focus,
.open > .dropdown-toggle.btn-metis-2:focus,
.btn-metis-2:active.focus,
.btn-metis-2.active.focus,
.open > .dropdown-toggle.btn-metis-2.focus {
  color: #fff;
  background-color: #73a52c;
  border-color: #304a16;
}
.btn-metis-2:active,
.btn-metis-2.active,
.open > .dropdown-toggle.btn-metis-2 {
  background-image: none;
}
.btn-metis-2.disabled:hover,
.btn-metis-2[disabled]:hover,
fieldset[disabled] .btn-metis-2:hover,
.btn-metis-2.disabled:focus,
.btn-metis-2[disabled]:focus,
fieldset[disabled] .btn-metis-2:focus,
.btn-metis-2.disabled.focus,
.btn-metis-2[disabled].focus,
fieldset[disabled] .btn-metis-2.focus {
  background-color: #9fd256;
  border-color: #6fac34;
}
.btn-metis-2 .badge {
  color: #9fd256;
  background-color: #fff;
}
.btn-metis-3 {
  color: #fff;
  background-color: #fbb450;
  border-color: #f89406;
}
.btn-metis-3:focus,
.btn-metis-3.focus {
  color: #fff;
  background-color: #fa9f1e;
  border-color: #7c4a03;
}
.btn-metis-3:hover {
  color: #fff;
  background-color: #fa9f1e;
  border-color: #bc7005;
}
.btn-metis-3:active,
.btn-metis-3.active,
.open > .dropdown-toggle.btn-metis-3 {
  color: #fff;
  background-color: #fa9f1e;
  border-color: #bc7005;
}
.btn-metis-3:active:hover,
.btn-metis-3.active:hover,
.open > .dropdown-toggle.btn-metis-3:hover,
.btn-metis-3:active:focus,
.btn-metis-3.active:focus,
.open > .dropdown-toggle.btn-metis-3:focus,
.btn-metis-3:active.focus,
.btn-metis-3.active.focus,
.open > .dropdown-toggle.btn-metis-3.focus {
  color: #fff;
  background-color: #ef8e05;
  border-color: #7c4a03;
}
.btn-metis-3:active,
.btn-metis-3.active,
.open > .dropdown-toggle.btn-metis-3 {
  background-image: none;
}
.btn-metis-3.disabled:hover,
.btn-metis-3[disabled]:hover,
fieldset[disabled] .btn-metis-3:hover,
.btn-metis-3.disabled:focus,
.btn-metis-3[disabled]:focus,
fieldset[disabled] .btn-metis-3:focus,
.btn-metis-3.disabled.focus,
.btn-metis-3[disabled].focus,
fieldset[disabled] .btn-metis-3.focus {
  background-color: #fbb450;
  border-color: #f89406;
}
.btn-metis-3 .badge {
  color: #fbb450;
  background-color: #fff;
}
.btn-metis-4 {
  color: #fff;
  background-color: #A264E7;
  border-color: #62309A;
}
.btn-metis-4:focus,
.btn-metis-4.focus {
  color: #fff;
  background-color: #8838e0;
  border-color: #241239;
}
.btn-metis-4:hover {
  color: #fff;
  background-color: #8838e0;
  border-color: #44216b;
}
.btn-metis-4:active,
.btn-metis-4.active,
.open > .dropdown-toggle.btn-metis-4 {
  color: #fff;
  background-color: #8838e0;
  border-color: #44216b;
}
.btn-metis-4:active:hover,
.btn-metis-4.active:hover,
.open > .dropdown-toggle.btn-metis-4:hover,
.btn-metis-4:active:focus,
.btn-metis-4.active:focus,
.open > .dropdown-toggle.btn-metis-4:focus,
.btn-metis-4:active.focus,
.btn-metis-4.active.focus,
.open > .dropdown-toggle.btn-metis-4.focus {
  color: #fff;
  background-color: #7521d4;
  border-color: #241239;
}
.btn-metis-4:active,
.btn-metis-4.active,
.open > .dropdown-toggle.btn-metis-4 {
  background-image: none;
}
.btn-metis-4.disabled:hover,
.btn-metis-4[disabled]:hover,
fieldset[disabled] .btn-metis-4:hover,
.btn-metis-4.disabled:focus,
.btn-metis-4[disabled]:focus,
fieldset[disabled] .btn-metis-4:focus,
.btn-metis-4.disabled.focus,
.btn-metis-4[disabled].focus,
fieldset[disabled] .btn-metis-4.focus {
  background-color: #A264E7;
  border-color: #62309A;
}
.btn-metis-4 .badge {
  color: #A264E7;
  background-color: #fff;
}
.btn-metis-5 {
  color: #fff;
  background-color: #777;
  border-color: #555;
}
.btn-metis-5:focus,
.btn-metis-5.focus {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #151515;
}
.btn-metis-5:hover {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #363636;
}
.btn-metis-5:active,
.btn-metis-5.active,
.open > .dropdown-toggle.btn-metis-5 {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #363636;
}
.btn-metis-5:active:hover,
.btn-metis-5.active:hover,
.open > .dropdown-toggle.btn-metis-5:hover,
.btn-metis-5:active:focus,
.btn-metis-5.active:focus,
.open > .dropdown-toggle.btn-metis-5:focus,
.btn-metis-5:active.focus,
.btn-metis-5.active.focus,
.open > .dropdown-toggle.btn-metis-5.focus {
  color: #fff;
  background-color: #4c4c4c;
  border-color: #151515;
}
.btn-metis-5:active,
.btn-metis-5.active,
.open > .dropdown-toggle.btn-metis-5 {
  background-image: none;
}
.btn-metis-5.disabled:hover,
.btn-metis-5[disabled]:hover,
fieldset[disabled] .btn-metis-5:hover,
.btn-metis-5.disabled:focus,
.btn-metis-5[disabled]:focus,
fieldset[disabled] .btn-metis-5:focus,
.btn-metis-5.disabled.focus,
.btn-metis-5[disabled].focus,
fieldset[disabled] .btn-metis-5.focus {
  background-color: #777;
  border-color: #555;
}
.btn-metis-5 .badge {
  color: #777;
  background-color: #fff;
}
.btn-metis-6 {
  color: #fff;
  background-color: #00b4f5;
  border-color: #008dc5;
}
.btn-metis-6:focus,
.btn-metis-6.focus {
  color: #fff;
  background-color: #008fc2;
  border-color: #003246;
}
.btn-metis-6:hover {
  color: #fff;
  background-color: #008fc2;
  border-color: #006188;
}
.btn-metis-6:active,
.btn-metis-6.active,
.open > .dropdown-toggle.btn-metis-6 {
  color: #fff;
  background-color: #008fc2;
  border-color: #006188;
}
.btn-metis-6:active:hover,
.btn-metis-6.active:hover,
.open > .dropdown-toggle.btn-metis-6:hover,
.btn-metis-6:active:focus,
.btn-metis-6.active:focus,
.open > .dropdown-toggle.btn-metis-6:focus,
.btn-metis-6:active.focus,
.btn-metis-6.active.focus,
.open > .dropdown-toggle.btn-metis-6.focus {
  color: #fff;
  background-color: #00749e;
  border-color: #003246;
}
.btn-metis-6:active,
.btn-metis-6.active,
.open > .dropdown-toggle.btn-metis-6 {
  background-image: none;
}
.btn-metis-6.disabled:hover,
.btn-metis-6[disabled]:hover,
fieldset[disabled] .btn-metis-6:hover,
.btn-metis-6.disabled:focus,
.btn-metis-6[disabled]:focus,
fieldset[disabled] .btn-metis-6:focus,
.btn-metis-6.disabled.focus,
.btn-metis-6[disabled].focus,
fieldset[disabled] .btn-metis-6.focus {
  background-color: #00b4f5;
  border-color: #008dc5;
}
.btn-metis-6 .badge {
  color: #00b4f5;
  background-color: #fff;
}
.btn-grad.btn-default,
.btn-grad.btn-primary,
.btn-grad.btn-success,
.btn-grad.btn-info,
.btn-grad.btn-warning,
.btn-grad.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-grad.btn-default:active,
.btn-grad.btn-primary:active,
.btn-grad.btn-success:active,
.btn-grad.btn-info:active,
.btn-grad.btn-warning:active,
.btn-grad.btn-danger:active,
.btn-grad.btn-default.active,
.btn-grad.btn-primary.active,
.btn-grad.btn-success.active,
.btn-grad.btn-info.active,
.btn-grad.btn-warning.active,
.btn-grad.btn-danger.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-grad.btn:active,
.btn-grad.btn.active {
  background-image: none;
}
.btn-grad.btn-default {
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-grad.btn-default:hover,
.btn-grad.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-grad.btn-default:active,
.btn-grad.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-grad.btn-primary {
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  background-repeat: repeat-x;
  border-color: #245580;
}
.btn-grad.btn-primary:hover,
.btn-grad.btn-primary:focus {
  background-color: #265a88;
  background-position: 0 -15px;
}
.btn-grad.btn-primary:active,
.btn-grad.btn-primary.active {
  background-color: #265a88;
  border-color: #245580;
}
.btn-grad.btn-success {
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-grad.btn-success:hover,
.btn-grad.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-grad.btn-success:active,
.btn-grad.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-grad.btn-warning {
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-grad.btn-warning:hover,
.btn-grad.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-grad.btn-warning:active,
.btn-grad.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-grad.btn-danger {
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-grad.btn-danger:hover,
.btn-grad.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-grad.btn-danger:active,
.btn-grad.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-grad.btn-info {
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-grad.btn-info:hover,
.btn-grad.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-grad.btn-info:active,
.btn-grad.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-grad.btn-metis-1 {
  background-image: linear-gradient(to bottom, #ee465a 0%, #e2152d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee465a', endColorstr='#ffe2152d', GradientType=0);
  background-repeat: repeat-x;
  border-color: #d9142b;
}
.btn-grad.btn-metis-1:hover,
.btn-grad.btn-metis-1:focus {
  background-color: #e2152d;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-1:active,
.btn-grad.btn-metis-1.active {
  background-color: #e2152d;
  border-color: #d9142b;
}
.btn-grad.btn-metis-2 {
  background-image: linear-gradient(to bottom, #9fd256 0%, #81b931 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9fd256', endColorstr='#ff81b931', GradientType=0);
  background-repeat: repeat-x;
  border-color: #7cb12f;
}
.btn-grad.btn-metis-2:hover,
.btn-grad.btn-metis-2:focus {
  background-color: #81b931;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-2:active,
.btn-grad.btn-metis-2.active {
  background-color: #81b931;
  border-color: #7cb12f;
}
.btn-grad.btn-metis-3 {
  background-image: linear-gradient(to bottom, #fbb450 0%, #fa9a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fffa9a14', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f9960a;
}
.btn-grad.btn-metis-3:hover,
.btn-grad.btn-metis-3:focus {
  background-color: #fa9a14;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-3:active,
.btn-grad.btn-metis-3.active {
  background-color: #fa9a14;
  border-color: #f9960a;
}
.btn-grad.btn-metis-4 {
  background-image: linear-gradient(to bottom, #A264E7 0%, #822fdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa264e7', endColorstr='#ff822fdf', GradientType=0);
  background-repeat: repeat-x;
  border-color: #7d26dd;
}
.btn-grad.btn-metis-4:hover,
.btn-grad.btn-metis-4:focus {
  background-color: #822fdf;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-4:active,
.btn-grad.btn-metis-4.active {
  background-color: #822fdf;
  border-color: #7d26dd;
}
.btn-grad.btn-metis-5 {
  background-image: linear-gradient(to bottom, #777 0%, #585858 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff585858', GradientType=0);
  background-repeat: repeat-x;
  border-color: #535353;
}
.btn-grad.btn-metis-5:hover,
.btn-grad.btn-metis-5:focus {
  background-color: #585858;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-5:active,
.btn-grad.btn-metis-5.active {
  background-color: #585858;
  border-color: #535353;
}
.btn-grad.btn-metis-6 {
  background-image: linear-gradient(to bottom, #00b4f5 0%, #0087b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b4f5', endColorstr='#ff0087b8', GradientType=0);
  background-repeat: repeat-x;
  border-color: #0080ae;
}
.btn-grad.btn-metis-6:hover,
.btn-grad.btn-metis-6:focus {
  background-color: #0087b8;
  background-position: 0 -15px;
}
.btn-grad.btn-metis-6:active,
.btn-grad.btn-metis-6.active {
  background-color: #0087b8;
  border-color: #0080ae;
}
.btn-circle {
  border-radius: 500px;
  width: 40px;
  height: 40px;
  padding: 8px 10px;
}
.btn-circle.btn-lg {
  width: 60px;
  height: 60px;
  padding: 14px 16px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 5px 10px;
}
.btn-circle.btn-xs {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
.btn-rect {
  border-radius: 0 !important;
}
.btn-round.btn {
  border-radius: 28px;
}
.btn-round.btn-xs {
  border-radius: 28px;
}
.btn-round.btn-sm {
  border-radius: 28px;
}
.btn-round.btn-lg {
  border-radius: 28px;
}
.btn-line.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-line.btn-default:hover,
.btn-line.btn-default:focus,
.btn-line.btn-default:active,
.btn-line.btn-default.active {
  background-color: #262626;
  color: #fff;
  border-color: #b3b3b3;
}
.btn-line.btn-default.disabled,
.btn-line.btn-default[disabled],
fieldset[disabled] .btn-line.btn-default,
.btn-line.btn-default.disabled:hover,
.btn-line.btn-default[disabled]:hover,
fieldset[disabled] .btn-line.btn-default:hover,
.btn-line.btn-default.disabled:focus,
.btn-line.btn-default[disabled]:focus,
fieldset[disabled] .btn-line.btn-default:focus,
.btn-line.btn-default.disabled:active,
.btn-line.btn-default[disabled]:active,
fieldset[disabled] .btn-line.btn-default:active,
.btn-line.btn-default.disabled.active,
.btn-line.btn-default[disabled].active,
fieldset[disabled] .btn-line.btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-line.btn-primary {
  color: #337ab7;
  background-color: #fff;
  border-color: #2e6da4;
}
.btn-line.btn-primary:hover,
.btn-line.btn-primary:focus,
.btn-line.btn-primary:active,
.btn-line.btn-primary.active {
  background-color: #2e6da4;
  color: #fff;
  border-color: #23527c;
}
.btn-line.btn-primary.disabled,
.btn-line.btn-primary[disabled],
fieldset[disabled] .btn-line.btn-primary,
.btn-line.btn-primary.disabled:hover,
.btn-line.btn-primary[disabled]:hover,
fieldset[disabled] .btn-line.btn-primary:hover,
.btn-line.btn-primary.disabled:focus,
.btn-line.btn-primary[disabled]:focus,
fieldset[disabled] .btn-line.btn-primary:focus,
.btn-line.btn-primary.disabled:active,
.btn-line.btn-primary[disabled]:active,
fieldset[disabled] .btn-line.btn-primary:active,
.btn-line.btn-primary.disabled.active,
.btn-line.btn-primary[disabled].active,
fieldset[disabled] .btn-line.btn-primary.active {
  background-color: #fff;
  border-color: #2e6da4;
}
.btn-line.btn-warning {
  color: #f0ad4e;
  background-color: #fff;
  border-color: #eea236;
}
.btn-line.btn-warning:hover,
.btn-line.btn-warning:focus,
.btn-line.btn-warning:active,
.btn-line.btn-warning.active {
  background-color: #eea236;
  color: #fff;
  border-color: #df8a13;
}
.btn-line.btn-warning.disabled,
.btn-line.btn-warning[disabled],
fieldset[disabled] .btn-line.btn-warning,
.btn-line.btn-warning.disabled:hover,
.btn-line.btn-warning[disabled]:hover,
fieldset[disabled] .btn-line.btn-warning:hover,
.btn-line.btn-warning.disabled:focus,
.btn-line.btn-warning[disabled]:focus,
fieldset[disabled] .btn-line.btn-warning:focus,
.btn-line.btn-warning.disabled:active,
.btn-line.btn-warning[disabled]:active,
fieldset[disabled] .btn-line.btn-warning:active,
.btn-line.btn-warning.disabled.active,
.btn-line.btn-warning[disabled].active,
fieldset[disabled] .btn-line.btn-warning.active {
  background-color: #fff;
  border-color: #eea236;
}
.btn-line.btn-danger {
  color: #d9534f;
  background-color: #fff;
  border-color: #d43f3a;
}
.btn-line.btn-danger:hover,
.btn-line.btn-danger:focus,
.btn-line.btn-danger:active,
.btn-line.btn-danger.active {
  background-color: #d43f3a;
  color: #fff;
  border-color: #b52b27;
}
.btn-line.btn-danger.disabled,
.btn-line.btn-danger[disabled],
fieldset[disabled] .btn-line.btn-danger,
.btn-line.btn-danger.disabled:hover,
.btn-line.btn-danger[disabled]:hover,
fieldset[disabled] .btn-line.btn-danger:hover,
.btn-line.btn-danger.disabled:focus,
.btn-line.btn-danger[disabled]:focus,
fieldset[disabled] .btn-line.btn-danger:focus,
.btn-line.btn-danger.disabled:active,
.btn-line.btn-danger[disabled]:active,
fieldset[disabled] .btn-line.btn-danger:active,
.btn-line.btn-danger.disabled.active,
.btn-line.btn-danger[disabled].active,
fieldset[disabled] .btn-line.btn-danger.active {
  background-color: #fff;
  border-color: #d43f3a;
}
.btn-line.btn-success {
  color: #5cb85c;
  background-color: #fff;
  border-color: #4cae4c;
}
.btn-line.btn-success:hover,
.btn-line.btn-success:focus,
.btn-line.btn-success:active,
.btn-line.btn-success.active {
  background-color: #4cae4c;
  color: #fff;
  border-color: #3d8b3d;
}
.btn-line.btn-success.disabled,
.btn-line.btn-success[disabled],
fieldset[disabled] .btn-line.btn-success,
.btn-line.btn-success.disabled:hover,
.btn-line.btn-success[disabled]:hover,
fieldset[disabled] .btn-line.btn-success:hover,
.btn-line.btn-success.disabled:focus,
.btn-line.btn-success[disabled]:focus,
fieldset[disabled] .btn-line.btn-success:focus,
.btn-line.btn-success.disabled:active,
.btn-line.btn-success[disabled]:active,
fieldset[disabled] .btn-line.btn-success:active,
.btn-line.btn-success.disabled.active,
.btn-line.btn-success[disabled].active,
fieldset[disabled] .btn-line.btn-success.active {
  background-color: #fff;
  border-color: #4cae4c;
}
.btn-line.btn-info {
  color: #5bc0de;
  background-color: #fff;
  border-color: #46b8da;
}
.btn-line.btn-info:hover,
.btn-line.btn-info:focus,
.btn-line.btn-info:active,
.btn-line.btn-info.active {
  background-color: #46b8da;
  color: #fff;
  border-color: #28a1c5;
}
.btn-line.btn-info.disabled,
.btn-line.btn-info[disabled],
fieldset[disabled] .btn-line.btn-info,
.btn-line.btn-info.disabled:hover,
.btn-line.btn-info[disabled]:hover,
fieldset[disabled] .btn-line.btn-info:hover,
.btn-line.btn-info.disabled:focus,
.btn-line.btn-info[disabled]:focus,
fieldset[disabled] .btn-line.btn-info:focus,
.btn-line.btn-info.disabled:active,
.btn-line.btn-info[disabled]:active,
fieldset[disabled] .btn-line.btn-info:active,
.btn-line.btn-info.disabled.active,
.btn-line.btn-info[disabled].active,
fieldset[disabled] .btn-line.btn-info.active {
  background-color: #fff;
  border-color: #46b8da;
}
.btn-line.btn-metis-1 {
  color: #ee465a;
  background-color: #fff;
  border-color: #c11a39;
}
.btn-line.btn-metis-1:hover,
.btn-line.btn-metis-1:focus,
.btn-line.btn-metis-1:active,
.btn-line.btn-metis-1.active {
  background-color: #ec2f45;
  color: #fff;
  border-color: #94142c;
}
.btn-line.btn-metis-1.disabled,
.btn-line.btn-metis-1[disabled],
fieldset[disabled] .btn-line.btn-metis-1,
.btn-line.btn-metis-1.disabled:hover,
.btn-line.btn-metis-1[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-1:hover,
.btn-line.btn-metis-1.disabled:focus,
.btn-line.btn-metis-1[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-1:focus,
.btn-line.btn-metis-1.disabled:active,
.btn-line.btn-metis-1[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-1:active,
.btn-line.btn-metis-1.disabled.active,
.btn-line.btn-metis-1[disabled].active,
fieldset[disabled] .btn-line.btn-metis-1.active {
  background-color: #fff;
  border-color: #c11a39;
}
.btn-line.btn-metis-2 {
  color: #9fd256;
  background-color: #fff;
  border-color: #6fac34;
}
.btn-line.btn-metis-2:hover,
.btn-line.btn-metis-2:focus,
.btn-line.btn-metis-2:active,
.btn-line.btn-metis-2.active {
  background-color: #94cd42;
  color: #fff;
  border-color: #568528;
}
.btn-line.btn-metis-2.disabled,
.btn-line.btn-metis-2[disabled],
fieldset[disabled] .btn-line.btn-metis-2,
.btn-line.btn-metis-2.disabled:hover,
.btn-line.btn-metis-2[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-2:hover,
.btn-line.btn-metis-2.disabled:focus,
.btn-line.btn-metis-2[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-2:focus,
.btn-line.btn-metis-2.disabled:active,
.btn-line.btn-metis-2[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-2:active,
.btn-line.btn-metis-2.disabled.active,
.btn-line.btn-metis-2[disabled].active,
fieldset[disabled] .btn-line.btn-metis-2.active {
  background-color: #fff;
  border-color: #6fac34;
}
.btn-line.btn-metis-3 {
  color: #fbb450;
  background-color: #fff;
  border-color: #f89406;
}
.btn-line.btn-metis-3:hover,
.btn-line.btn-metis-3:focus,
.btn-line.btn-metis-3:active,
.btn-line.btn-metis-3.active {
  background-color: #faa937;
  color: #fff;
  border-color: #c67605;
}
.btn-line.btn-metis-3.disabled,
.btn-line.btn-metis-3[disabled],
fieldset[disabled] .btn-line.btn-metis-3,
.btn-line.btn-metis-3.disabled:hover,
.btn-line.btn-metis-3[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-3:hover,
.btn-line.btn-metis-3.disabled:focus,
.btn-line.btn-metis-3[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-3:focus,
.btn-line.btn-metis-3.disabled:active,
.btn-line.btn-metis-3[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-3:active,
.btn-line.btn-metis-3.disabled.active,
.btn-line.btn-metis-3[disabled].active,
fieldset[disabled] .btn-line.btn-metis-3.active {
  background-color: #fff;
  border-color: #f89406;
}
.btn-line.btn-metis-4 {
  color: #A264E7;
  background-color: #fff;
  border-color: #62309A;
}
.btn-line.btn-metis-4:hover,
.btn-line.btn-metis-4:focus,
.btn-line.btn-metis-4:active,
.btn-line.btn-metis-4.active {
  background-color: #954ee4;
  color: #fff;
  border-color: #492473;
}
.btn-line.btn-metis-4.disabled,
.btn-line.btn-metis-4[disabled],
fieldset[disabled] .btn-line.btn-metis-4,
.btn-line.btn-metis-4.disabled:hover,
.btn-line.btn-metis-4[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-4:hover,
.btn-line.btn-metis-4.disabled:focus,
.btn-line.btn-metis-4[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-4:focus,
.btn-line.btn-metis-4.disabled:active,
.btn-line.btn-metis-4[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-4:active,
.btn-line.btn-metis-4.disabled.active,
.btn-line.btn-metis-4[disabled].active,
fieldset[disabled] .btn-line.btn-metis-4.active {
  background-color: #fff;
  border-color: #62309A;
}
.btn-line.btn-metis-5 {
  color: #777;
  background-color: #fff;
  border-color: #555;
}
.btn-line.btn-metis-5:hover,
.btn-line.btn-metis-5:focus,
.btn-line.btn-metis-5:active,
.btn-line.btn-metis-5.active {
  background-color: #6a6a6a;
  color: #fff;
  border-color: #3b3b3b;
}
.btn-line.btn-metis-5.disabled,
.btn-line.btn-metis-5[disabled],
fieldset[disabled] .btn-line.btn-metis-5,
.btn-line.btn-metis-5.disabled:hover,
.btn-line.btn-metis-5[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-5:hover,
.btn-line.btn-metis-5.disabled:focus,
.btn-line.btn-metis-5[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-5:focus,
.btn-line.btn-metis-5.disabled:active,
.btn-line.btn-metis-5[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-5:active,
.btn-line.btn-metis-5.disabled.active,
.btn-line.btn-metis-5[disabled].active,
fieldset[disabled] .btn-line.btn-metis-5.active {
  background-color: #fff;
  border-color: #555;
}
.btn-line.btn-metis-6 {
  color: #00b4f5;
  background-color: #fff;
  border-color: #008dc5;
}
.btn-line.btn-metis-6:hover,
.btn-line.btn-metis-6:focus,
.btn-line.btn-metis-6:active,
.btn-line.btn-metis-6.active {
  background-color: #00a1dc;
  color: #fff;
  border-color: #006892;
}
.btn-line.btn-metis-6.disabled,
.btn-line.btn-metis-6[disabled],
fieldset[disabled] .btn-line.btn-metis-6,
.btn-line.btn-metis-6.disabled:hover,
.btn-line.btn-metis-6[disabled]:hover,
fieldset[disabled] .btn-line.btn-metis-6:hover,
.btn-line.btn-metis-6.disabled:focus,
.btn-line.btn-metis-6[disabled]:focus,
fieldset[disabled] .btn-line.btn-metis-6:focus,
.btn-line.btn-metis-6.disabled:active,
.btn-line.btn-metis-6[disabled]:active,
fieldset[disabled] .btn-line.btn-metis-6:active,
.btn-line.btn-metis-6.disabled.active,
.btn-line.btn-metis-6[disabled].active,
fieldset[disabled] .btn-line.btn-metis-6.active {
  background-color: #fff;
  border-color: #008dc5;
}
.btn-flat {
  border-width: 0 !important;
}
/* BEGIN animated checkbox styles */
.anim-checkbox {
  /*adding some colors for fun*/
}
.anim-checkbox label {
  position: relative;
}
.anim-checkbox label:before,
.anim-checkbox label:after {
  font-family: FontAwesome;
  /*absolutely positioned*/
  position: absolute;
  left: 0;
}
.anim-checkbox label:before {
  content: '\f096';
  /*unchecked*/
}
.anim-checkbox label:after {
  content: '\f046';
  /*checked*/
  /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  /*CSS3 transitions for animated effect*/
  transition: all 0.35s;
}
.anim-checkbox input[type="checkbox"] {
  display: none;
}
.anim-checkbox input[type="checkbox"]:checked + label:after {
  max-width: 25px;
  /*an arbitratry number more than the icon's width*/
  opacity: 1;
  /*for fade in effect*/
}
.anim-checkbox .primary:checked + label:before,
.anim-checkbox .primary:checked + label:after {
  color: #337ab7;
}
.anim-checkbox .success:checked + label:before,
.anim-checkbox .success:checked + label:after {
  color: #5cb85c;
}
.anim-checkbox .warning:checked + label:before,
.anim-checkbox .warning:checked + label:after {
  color: #f0ad4e;
}
.anim-checkbox .danger:checked + label:before,
.anim-checkbox .danger:checked + label:after {
  color: #d9534f;
}
.anim-checkbox .info:checked + label:before,
.anim-checkbox .info:checked + label:after {
  color: #5bc0de;
}
/* END animated checkbox styles */
/* BEGIN Pricing Table */
.pricing-table {
  text-align: center;
  padding: 0;
  margin: 30px 0;
  line-height: 150%;
}
.pricing-table li {
  list-style: none;
}
.pricing-table > li {
  background-image: linear-gradient(to bottom, #EBEEF5 0%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebeef5', endColorstr='#ffffffff', GradientType=0);
  color: #444;
  transition: all 0.2s;
}
.pricing-table.dark > li {
  background-image: linear-gradient(to bottom, #666 0%, #444 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff444444', GradientType=0);
  color: #fff;
}
.pricing-table.dark > li.active.default {
  color: #fff;
}
.pricing-table > li.active {
  color: #fff;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pricing-table > li.active.default {
  color: #444;
}
@media (min-width: 768px) {
  .pricing-table > li.active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}
.pricing-table > li.active.primary {
  background-image: linear-gradient(to bottom, #2e6da4 0%, #337ab7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e6da4', endColorstr='#ff337ab7', GradientType=0);
}
.pricing-table > li.active.success {
  background-image: linear-gradient(to bottom, #4cae4c 0%, #5cb85c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4cae4c', endColorstr='#ff5cb85c', GradientType=0);
}
.pricing-table > li.active.warning {
  background-image: linear-gradient(to bottom, #eea236 0%, #f0ad4e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeea236', endColorstr='#fff0ad4e', GradientType=0);
}
.pricing-table > li.active.danger {
  background-image: linear-gradient(to bottom, #d43f3a 0%, #d9534f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd43f3a', endColorstr='#ffd9534f', GradientType=0);
}
.pricing-table > li.active.info {
  background-image: linear-gradient(to bottom, #46b8da 0%, #5bc0de 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46b8da', endColorstr='#ff5bc0de', GradientType=0);
}
.pricing-table .footer {
  padding: 15px;
  margin: 15px -15px 0;
  background: #eee;
}
.pricing-table.dark .footer {
  background: #333;
}
.pricing-table h3 {
  text-transform: uppercase;
  padding: 15px 0;
}
.pricing-table .price-body {
  width: 125px;
  height: 125px;
  margin: 0 auto 15px auto;
  border: 2px solid #444;
  border-radius: 100%;
  display: table;
}
.pricing-table.dark .price-body {
  border-color: #fff;
}
.pricing-table > li.active.primary .price-body,
.pricing-table > li.active.success .price-body,
.pricing-table > li.active.warning .price-body,
.pricing-table > li.active.danger .price-body,
.pricing-table > li.active.info .price-body {
  border-color: #fff;
}
.pricing-table .price {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  /*Lets vertically center align the price now*/
  vertical-align: middle;
  display: table-cell;
}
.pricing-table .price .price-figure {
  display: block;
}
.pricing-table .price .price-term {
  font-size: 11px;
  font-weight: normal;
}
.pricing-table .features ul {
  margin: 0;
  padding: 0;
}
.pricing-table .features ul li {
  padding: 5px 0;
}
/* END Pricing Table */
/* horizontal rules */
.inner hr {
  margin-top: 10px;
  border-top-color: #ccc;
}
/* BEGIN PROGRESSBAR STYLES */
.progress.xs {
  height: 6px;
}
.progress.sm {
  height: 10px;
}
.progress.md {
  height: 12px;
}
.progress.lg {
  height: 28px;
}
/* END PROGRESSBAR STYLES */
.quick-btn {
  background: #EEEEEE;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444444;
  display: inline-block;
  height: 80px;
  margin: 10px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  position: relative;
}
.quick-btn span {
  display: block;
}
.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}
.quick-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589;
}
.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}
.simpleTable tr th:first-child,
.simpleTable tr td:first-child {
  text-align: center;
  width: 27px;
}
/* BEGIN SORTABLETABLE STYLES */
.sortableTable th {
  background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  cursor: pointer;
}
.sortableTable th:hover {
  color: #888;
}
.sortableTable th.tablesorter-header .fa.sort:before {
  content: "\f0dc";
}
.sortableTable th.tablesorter-header.tablesorter-headerDesc .fa.sort:before {
  content: "\f0de";
}
.sortableTable th.tablesorter-header.tablesorter-headerAsc .fa.sort:before {
  content: "\f0dd";
}
/* END SORTABLETABLE STYLES */
/* BEGIN SPARKLINE STYLES */
.sparkline {
  min-width: 50px;
  border-right: 1px solid #DCDCDC;
  box-shadow: 1px 0 0 0 #FFFFFF;
  float: left;
  margin-right: 12px;
  padding: 10px 14px 0px 4px;
  line-height: 52px;
}
/* END SPARKLINE STYLES */
.stats_box {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 20px;
  padding: 0;
}
.stats_box li {
  background: #EEEEEE;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  float: left;
}
.stats_box .stat_text {
  float: left;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  /*text-align: left;*/
  min-width: 150px;
  position: relative;
}
.stats_box .stat_text strong {
  display: block;
  font-size: 16px;
}
.stats_box .stat_text .percent {
  color: #444;
  float: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 17px;
}
.stats_box .stat_text .percent.up {
  color: #46a546;
}
.stats_box .stat_text .percent.down {
  color: #C52F61;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background: transparent;
}
::-webkit-scrollbar-track:hover {
  background: rgba(110, 110, 110, 0.25);
}
/* BEGIN FULLCALENDAR STYLES */
.fc-event.label {
  border: 1px solid #808080;
  color: #fff;
  font-size: .85em;
  cursor: default;
  background-color: #999999;
}
.fc-event.label.label-default {
  border-color: #6a6a6a;
  background-color: #777777;
}
.fc-event.label.label-default[href]:hover,
.fc-event.label.label-default[href]:focus {
  background-color: #5e5e5e;
}
.fc-event.label.label-primary {
  border-color: #2e6da4;
  background-color: #337ab7;
}
.fc-event.label.label-primary[href]:hover,
.fc-event.label.label-primary[href]:focus {
  background-color: #286090;
}
.fc-event.label.label-success {
  border-color: #4cae4c;
  background-color: #5cb85c;
}
.fc-event.label.label-success[href]:hover,
.fc-event.label.label-success[href]:focus {
  background-color: #449d44;
}
.fc-event.label.label-info {
  border-color: #46b8da;
  background-color: #5bc0de;
}
.fc-event.label.label-info[href]:hover,
.fc-event.label.label-info[href]:focus {
  background-color: #31b0d5;
}
.fc-event.label.label-warning {
  border-color: #eea236;
  background-color: #f0ad4e;
}
.fc-event.label.label-warning[href]:hover,
.fc-event.label.label-warning[href]:focus {
  background-color: #ec971f;
}
.fc-event.label.label-danger {
  border-color: #d43f3a;
  background-color: #d9534f;
}
.fc-event.label.label-danger[href]:hover,
.fc-event.label.label-danger[href]:focus {
  background-color: #c9302c;
}
/* END FULLCALENDAR STYLES */
/* ==========================================================================
metisAdmin: HACK
========================================================================== */
/**
* Chosen
*/
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto !important;
}
/**
* Sparkline
*/
.jqstooltip {
  box-sizing: content-box;
}
/**
* Google Maps
*/
.google-maps {
  min-height: 300px;
}
/**
* Bootstrap-Timepicker
*/
.icon-chevron-up,
.icon-chevron-down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-up:before {
  content: "\e113";
}
.icon-chevron-down:before {
  content: "\e114";
}
/**
* Bootstrap-Wysihtml5
*/
iframe.wysihtml5-sandbox {
  width: 100% !important;
}
/**
* Elfinder
*/
.elfinder,
.elfinder * {
  box-sizing: content-box;
}
/**
* Bootstrap-Colorpicker
*/
.colorpicker-saturation {
  background-image: url(../lib/colorpicker/img/saturation.png) !important;
}
.colorpicker-hue {
  background-image: url(../lib/colorpicker/img/hue.png) !important;
}
.colorpicker-alpha {
  background-image: url(../lib/colorpicker/img/alpha.png) !important;
}
.colorpicker-color {
  background-image: url(../lib/colorpicker/img/alpha.png) !important;
}
/**
* Uniform
*/
div.uploader {
  width: auto !important;
}
.p-xs {
  padding: 10px;
}
.p-xs-t {
  padding-top: 10px;
}
.p-xs-l {
  padding-left: 10px;
}
.p-xs-b {
  padding-bottom: 10px;
}
.p-xs-r {
  padding-right: 10px;
}
.p-sm {
  padding: 15px;
}
.p-sm-t {
  padding-top: 15px;
}
.p-sm-l {
  padding-left: 15px;
}
.p-sm-b {
  padding-bottom: 15px;
}
.p-sm-r {
  padding-right: 15px;
}
.p-md {
  padding: 25px;
}
.p-md-t {
  padding-top: 25px;
}
.p-md-l {
  padding-left: 25px;
}
.p-md-b {
  padding-bottom: 25px;
}
.p-md-r {
  padding-right: 25px;
}
.p-lg {
  padding: 40px;
}
.p-lg-t {
  padding-top: 40px;
}
.p-lg-l {
  padding-left: 40px;
}
.p-lg-b {
  padding-bottom: 40px;
}
.p-lg-r {
  padding-right: 40px;
}
.m-xs {
  margin: 10px;
}
.m-xs-t {
  margin-top: 10px;
}
.m-xs-l {
  margin-left: 10px;
}
.m-xs-b {
  margin-bottom: 10px;
}
.m-xs-r {
  margin-right: 10px;
}
.m-sm {
  margin: 15px;
}
.m-sm-t {
  margin-top: 15px;
}
.m-sm-l {
  margin-left: 15px;
}
.m-sm-b {
  margin-bottom: 15px;
}
.m-sm-r {
  margin-right: 15px;
}
.m-md {
  margin: 25px;
}
.m-md-t {
  margin-top: 25px;
}
.m-md-l {
  margin-left: 25px;
}
.m-md-b {
  margin-bottom: 25px;
}
.m-md-r {
  margin-right: 25px;
}
.m-lg {
  margin: 40px;
}
.m-lg-t {
  margin-top: 40px;
}
.m-lg-l {
  margin-left: 40px;
}
.m-lg-b {
  margin-bottom: 40px;
}
.m-lg-r {
  margin-right: 40px;
}
.bg-red {
  background-color: #B90000;
  color: #fff !important;
}
.bg-red.dker,
.bg-red > .dker {
  background-color: #900000 !important;
}
.bg-red.dk,
.bg-red > .dk {
  background-color: #a50000 !important;
}
.bg-red.lt,
.bg-red > .lt {
  background-color: #cd0000 !important;
}
.bg-red.lter,
.bg-red > .lter {
  background-color: #e20000 !important;
}
.bg-brick {
  background-color: #CD6723;
  color: #fff !important;
}
.bg-brick.dker,
.bg-brick > .dker {
  background-color: #aa551d !important;
}
.bg-brick.dk,
.bg-brick > .dk {
  background-color: #bc5e20 !important;
}
.bg-brick.lt,
.bg-brick > .lt {
  background-color: #db712a !important;
}
.bg-brick.lter,
.bg-brick > .lter {
  background-color: #de7c3b !important;
}
.bg-orange {
  background-color: #FF4E00;
  color: #fff !important;
}
.bg-orange.dker,
.bg-orange > .dker {
  background-color: #d64200 !important;
}
.bg-orange.dk,
.bg-orange > .dk {
  background-color: #eb4800 !important;
}
.bg-orange.lt,
.bg-orange > .lt {
  background-color: #ff5c14 !important;
}
.bg-orange.lter,
.bg-orange > .lter {
  background-color: #ff6a29 !important;
}
.bg-green {
  background-color: #4B780A;
  color: #fff !important;
}
.bg-green.dker,
.bg-green > .dker {
  background-color: #335207 !important;
}
.bg-green.dk,
.bg-green > .dk {
  background-color: #3f6508 !important;
}
.bg-green.lt,
.bg-green > .lt {
  background-color: #578b0c !important;
}
.bg-green.lter,
.bg-green > .lter {
  background-color: #639e0d !important;
}
.bg-blue {
  background-color: #00CAF2;
  color: #fff !important;
}
.bg-blue.dker,
.bg-blue > .dker {
  background-color: #00a8c9 !important;
}
.bg-blue.dk,
.bg-blue > .dk {
  background-color: #00b9de !important;
}
.bg-blue.lt,
.bg-blue > .lt {
  background-color: #07d6ff !important;
}
.bg-blue.lter,
.bg-blue > .lter {
  background-color: #1cd9ff !important;
}
.bg-black {
  background-color: #222;
  color: #fff !important;
}
.bg-black.dker,
.bg-black > .dker {
  background-color: #0e0e0e !important;
}
.bg-black.dk,
.bg-black > .dk {
  background-color: #181818 !important;
}
.bg-black.lt,
.bg-black > .lt {
  background-color: #2c2c2c !important;
}
.bg-black.lter,
.bg-black > .lter {
  background-color: #363636 !important;
}
.bg-dark {
  background-color: #444;
  color: #fff !important;
}
.bg-dark.dker,
.bg-dark > .dker {
  background-color: #303030 !important;
}
.bg-dark.dk,
.bg-dark > .dk {
  background-color: #3a3a3a !important;
}
.bg-dark.lt,
.bg-dark > .lt {
  background-color: #4e4e4e !important;
}
.bg-dark.lter,
.bg-dark > .lter {
  background-color: #585858 !important;
}
.bg-light {
  background-color: #eee;
  color: #333 !important;
}
.bg-light.dker,
.bg-light > .dker {
  background-color: #dadada !important;
}
.bg-light.dk,
.bg-light > .dk {
  background-color: #e4e4e4 !important;
}
.bg-light.lt,
.bg-light > .lt {
  background-color: #f8f8f8 !important;
}
.bg-light.lter,
.bg-light > .lter {
  background-color: #ffffff !important;
}
.bg-brillant {
  background: url("../img/pattern/brillant.png") repeat;
}
.bg-always_grey {
  background: url("../img/pattern/always_grey.png") repeat;
}
.bg-retina_wood {
  background: url("../img/pattern/retina_wood.png") repeat;
}
.bg-low_contrast_linen {
  background: url("../img/pattern/low_contrast_linen.png") repeat;
}
.bg-egg_shell {
  background: url("../img/pattern/egg_shell.png") repeat;
}
.bg-cartographer {
  background: url("../img/pattern/cartographer.png") repeat;
}
.bg-batthern {
  background: url("../img/pattern/batthern.png") repeat;
}
.bg-noisy_grid {
  background: url("../img/pattern/noisy_grid.png") repeat;
}
.bg-diamond_upholstery {
  background: url("../img/pattern/diamond_upholstery.png") repeat;
}
.bg-greyfloral {
  background: url("../img/pattern/greyfloral.png") repeat;
}
.bg-white_tiles {
  background: url("../img/pattern/white_tiles.png") repeat;
}
.bg-gplaypattern {
  background: url("../img/pattern/gplaypattern.png") repeat;
}
.bg-arches {
  background: url("../img/pattern/arches.png") repeat;
}
.bg-purty_wood {
  background: url("../img/pattern/purty_wood.png") repeat;
}
.bg-diagonal_striped_brick {
  background: url("../img/pattern/diagonal_striped_brick.png") repeat;
}
.bg-large_leather {
  background: url("../img/pattern/large_leather.png") repeat;
}
.bg-bo_play_pattern {
  background: url("../img/pattern/bo_play_pattern.png") repeat;
}
.bg-irongrip {
  background: url("../img/pattern/irongrip.png") repeat;
}
.bg-wood_1 {
  background: url("../img/pattern/wood_1.png") repeat;
}
.bg-pool_table {
  background: url("../img/pattern/pool_table.png") repeat;
}
.bg-crissXcross {
  background: url("../img/pattern/crissXcross.png") repeat;
}
.bg-rip_jobs {
  background: url("../img/pattern/rip_jobs.png") repeat;
}
.bg-random_grey_variations {
  background: url("../img/pattern/random_grey_variations.png") repeat;
}
.bg-carbon_fibre {
  background: url("../img/pattern/carbon_fibre.png") repeat;
}
/* BEGIN ERROR PAGES STYLES */
body.error {
  padding-top: 40px;
  background: url("../img/pattern/always_grey.png") repeat rgba(68, 68, 68, 0.9);
}
body.error .logo h1 {
  color: #FFFFFF;
  font-size: 100px;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #C9C9C9, 0 3px 0 #BBBBBB, 0 4px 0 #B9B9B9, 0 5px 0 #AAAAAA, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  body.error .logo h1 {
    font-size: 60px;
  }
}
/* END ERROR PAGES STYLES */
/* BEGIN LOGIN PAGE STYLES */
.login {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/pattern/irongrip.png") repeat #444;
}
.login .form-signin {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
  margin-bottom: 10px;
}
.login .form-signin .checkbox {
  font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
  z-index: 2;
}
.login .form-signin input.top {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login .form-signin input.middle {
  margin-bottom: -1px;
  border-radius: 0;
}
.login .form-signin input.bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* END LOGIN PAGE STYLES */
.navbar-inverse {background-color: #77bdff;border-color: #ccc;}
.navbar {min-height: 90px;}
.navbar-nav > li > a{padding-top: 31px;padding-bottom: 35px;}
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{color:#000;background-color: #fafafa;}
.boldcls{font-weight:bold;}